<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Script de busca -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="pagesFront">
  <div class="table-responsive">
<div id = "tabelainvisivel">
  <body onload="tableGenerator('tabelainvisivel', ['tabelaClientes'], 'tabela')">
      <table class="table table-striped table-hover" id="tabelaClientes" >
        <thead>
          <tr>

            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Telefone Fixo</th>
            <th>Telefone Celular</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Estado</th>
            <th>Email</th>
            <th>Data de Nascimento</th>
            <th>Passaporte</th>
            <th>Validade do Passaporte</th>
            <th>Profissão</th>
            <th>Estado Civil</th>

            <th>Nome do Cônjuge</th>
            <th>Anivesário de Casamento</th>
            <th>Data de Nascimento do Cônjuge</th>
            <th>Email do Cônjuge</th>
            <th>Telefone fixo do Cônjuge</th>
            <th>Profissão do Cônjuge</th>
            <th>Passaporte do Cônjuge</th>
            <th>Validade do Passaporte do Cônjuge</th>

            <th>Nome do Filho</th>
            <th>Data de Nascimento do Filho</th>
            <th>Passaporte do Filho</th>
            <th>Validade do Passaporte do Filho</th>

            <th>Nome do Acompanhante</th>
            <th>Data de Nascimento do Acompanhante</th>
            <th>Celular do Acompanhante</th>
            <th>Email do Acompanhante</th>
            <th>Passaporte do Acompanhante</th>
            <th>Validade do Passaporte do Acompanhante</th>

            <th>Instagram</th>
            <th>Facebook</th>
            <th>Outros</th>
            <th>Funil de vendas</th>

            <th>Necessidade de Status</th>
            <th>Necessidade de Conhecimento</th>
            <th>Necessidade de Novas Experiências</th>
            <th>Necessidade de Diversão</th>
            <th>Necessidade de Bem-Estar</th>
            <th>Necessidade de Exclusividade</th>
            <th>Outra Necessidade</th>

            <th>Perfil Esporte</th>
            <th>Perfil Refinado</th>
            <th>Perfil Simples</th>
            <th>Perfil Cult</th>
            <th>Perfil Comida</th>
            <th>Perfil Vinhos </th>
            <th>Outro Perfil</th>

            <th>Hotel Contemporâneo</th>
            <th>Hotel Clássico</th>
            <th>Hotel Boutique</th>
            <th>Hotel Simples</th>
            <th>Hotel Andar Alto</th>
            <th>Hotel Andar Baixo</th>
            <th>Outro Hotel</th>

            <th>Adepto à Resorts</th>

            <th>Budget Mínimo</th>

            <th>Classe do Avião</th>
            <th>Assento de preferência</th>

            <th>Corrida</th>
            <th>Bike</th>
            <th>Natação</th>
            <th>Corrida de Carro</th>
            <th>Musculação</th>
            <th>Pesca</th>
            <th>Mergulho</th>
            <th>Golf</th>
            <th>Tênis</th>
            <th>Outro Esporte</th>

            <th>Comida Italiana</th>
            <th>Comida Japonesa</th>
            <th>Comida Mediterrânea</th>
            <th>Comida Indiana</th>
            <th>Comida Asiática</th>
            <th>Comida Francesa</th>
            <th>Frutos-do-Mar</th>
            <th>Carne</th>
            <th>Outra Dieta</th>

            <th>Fumante</th>

            <th>Alergia</th>
            <th>Qual alergia?</th>

            <th>Dificuldade de Locomoção</th>
            <th>Qual dificuldade?</th>

            <th>Restrição Alimentar</th>
            <th>Qual restrição?</th>
            <th>Vegano</th>
            <th>Vegetariano</th>



            <!-- Viagens____________________________________________________________________ -->
                          <th>Código da viagem</th>
                          <th>Data</th>
                          <th>Cidade</th>
                          <th>País</th>
                          <th>Observações sobre a viagem</th>
                          <!-- <th>Moeda</th>
                          <th>Valor total</th>
                          <th>Pagamento</th> -->
                          <th>Companhia</th>
                          <th>Estado da viagem</th>
            <!-- Voos_______________________________________________________________________ -->
                          <th>Número do voo</th>
                          <th>Data do voo</th>
                          <th>Origem do voo</th>
                          <th>Destino do voo</th>
                          <th>Horário de Saída do voo</th>
                          <th>Horário de Chegada do voo</th>
                          <th>Moeda Voo</th>

                          <th>Tarifa ADT Primeira Classe</th>
                          <th>Embarque ADT Primeira Classe</th>
                          <th>Emissão ADT Primeira Classe</th>
                          <th>Total ADT Primeira Classe</th>
                          <th>Número de passagens ADT Primeira Classe</th>

                          <th>Tarifa ADT Executivo</th>
                          <th>Embarque ADT Executivo</th>
                          <th>Emissão ADT Executivo</th>
                          <th>Total ADT Executivo</th>
                          <th>Número de passagens ADT Executivo</th>

                          <th>Tarifa ADT Econômico</th>
                          <th>Embarque ADT Econômico</th>
                          <th>Emissão ADT Econômico</th>
                          <th>Total ADT Econômico</th>
                          <th>Número de passagens ADT Econômico</th>

                          <th>Tarifa CHD Primeira Classe</th>
                          <th>Embarque CHD Primeira Classe</th>
                          <th>Emissão CHD Primeira Classe</th>
                          <th>Total CHD Primeira Classe</th>
                          <th>Número de passagens CHD Primeira Classe</th>

                          <th>Tarifa CHD Executivo</th>
                          <th>Embarque CHD Executivo</th>
                          <th>Emissão CHD Executivo</th>
                          <th>Total CHD Executivo</th>
                          <th>Número de passagens CHD Executivo</th>

                          <th>Tarifa CHD Econômico</th>
                          <th>Embarque CHD Econômico</th>
                          <th>Emissão CHD Econômico</th>
                          <th>Total CHD Econômico</th>
                          <th>Número de passagens CHD Econômico</th>

                          <th>Tarifa INF Primeira Classe</th>
                          <th>Embarque INF Primeira Classe</th>
                          <th>Emissão INF Primeira Classe</th>
                          <th>Total INF Primeira Classe</th>
                          <th>Número de passagens INF Primeira Classe</th>

                          <th>Tarifa INF Executivo</th>
                          <th>Embarque INF Executivo</th>
                          <th>Emissão INF Executivo</th>
                          <th>Total INF Executivo</th>
                          <th>Número de passagens INF Executivo</th>

                          <th>Tarifa INF Econômico</th>
                          <th>Embarque INF Econômico</th>
                          <th>Emissão INF Econômico</th>
                          <th>Total INF Econômico</th>
                          <th>Número de passagens INF Econômico</th>
            <!-- Hotéis_____________________________________________________________________ -->
                          <th>Cidade 1 Hotel</th>
                          <th>Moeda Hotel</th>

                          <th>Tipo da Acomodação 1</th>
                          <th>Hotel 1</th>
                          <th>Número de pessoas 1</th>
                          <th>Categoria Apartamento 1</th>
                          <th>Regime de Alimentação 1</th>
                          <th>Valor do Apartamento 1</th>
                          <th>Número de Diárias 1</th>
                          <th>Número de Apartamentos 1</th>
                          <th>Total Hotel 1</th>
                          <th>Prazo de Cancelamento 1</th>

                          <th>Tipo da Acomodação 2</th>
                          <th>Hotel 2</th>
                          <th>Número de pessoas 2</th>
                          <th>Categoria Apartamento 2</th>
                          <th>Regime de Alimentação 2</th>
                          <th>Valor do Apartamento 2</th>
                          <th>Número de Diárias 2</th>
                          <th>Número de Apartamentos 2</th>
                          <th>Total Hotel 2</th>
                          <th>Prazo de Cancelamento 2</th>

                          <th>Tipo da Acomodação 3</th>
                          <th>Hotel 3</th>
                          <th>Número de pessoas 3</th>
                          <th>Categoria Apartamento 3</th>
                          <th>Regime de Alimentação 3</th>
                          <th>Valor do Apartamento 3</th>
                          <th>Número de Diárias 3</th>
                          <th>Número de Apartamentos 3</th>
                          <th>Total Hotel 3</th>
                          <th>Prazo de Cancelamento 3</th>

            <!-- Transporte_________________________________________________________________ -->
                          <th>Origem Traslado</th>
                          <th>Destino Traslado</th>
                          <th>Data Traslado</th>
                          <th>Hora Traslado</th>
                          <th>Valor Traslado por ADT</th>
                          <th>Número de ADT</th>
                          <th>Valor Traslado por CHD</th>
                          <th>Número de CHD</th>
                          <th>Valor Traslado por INF</th>
                          <th>Número de INF</th>
                          <th>Moeda Traslado</th>
                          <th>Total Traslado</th>

                          <th>Categoria Carro</th>
                          <th>Cidade de retirada</th>
                          <th>Cidade de devolução</th>
                          <th>Valor Carro</th>
                          <th>Cidade</th>
                          <th>Características</th>
                          <th>Seguros</th>
                          <th>Outros</th>
                          <th>Moeda Carro</th>
            <!-- Seguro_____________________________________________________________________ -->
                          <th>Suguro</th>
                          <th>Cobertura</th>
                          <th>Valor por ADT</th>
                          <th>Número de ADT</th>
                          <th>Valor por CHD</th>
                          <th>Número de CHD</th>
                          <th>Valor por INF</th>
                          <th>Número de INF</th>
                          <th>Moeda Seguro</th>
                          <th>Total Seguro</th>

                          <th>Ticket</th>
                          <th>Valor por ADT</th>
                          <th>Número de ADT</th>
                          <th>Valor por CHD</th>
                          <th>Número de CHD</th>
                          <th>Valor por INF</th>
                          <th>Número de INF</th>
                          <th>Moeda Ticket</th>
                          <th>Total Ticket</th>

                          <th>Outro item</th>
                          <th>Valor por ADT</th>
                          <th>Número de ADT</th>
                          <th>Valor por CHD</th>
                          <th>Número de CHD</th>
                          <th>Valor por INF</th>
                          <th>Número de INF</th>
                          <th>Moeda outro item</th>
                          <th>Total outro item</th>

          </tr>
        </thead>
        <tbody id="client_table">
          {{#each information}}
          <tr>

            <td>{{#each dados_client}}{{fullname}}{{/each}}</td>
            <td>{{#each dados_client}}{{register}}{{/each}}</td>
            <td>{{#each dados_client}}{{id}}{{/each}}</td>
            <td>{{#each dados_client}}{{phone}}{{/each}}</td>
            <td>{{#each dados_client}}{{cellphone}}{{/each}}</td>
            <td>{{#each dados_client}}{{street}}{{/each}}</td>
            <td>{{#each dados_client}}{{neighbourhood}}{{/each}}</td>
            <td>{{#each dados_client}}{{state}}{{/each}}</td>
            <td>{{#each dados_client}}{{email}}{{/each}}</td>
            <td>{{#each dados_client}}{{birthDate}}{{/each}}</td>
            <td>{{#each dados_client}}{{passport}}{{/each}}</td>
            <td>{{#each dados_client}}{{passportValidation}}{{/each}}</td>
            <td>{{#each dados_client}}{{profession}}{{/each}}</td>
            <td>{{#each dados_client}}{{maritalStatus}}{{/each}}</td>

            <td>{{#each dados_client}}{{spouseName}}{{/each}}</td>
            <td>{{#each dados_client}}{{wedding_anniversary}}{{/each}}</td>
            <td>{{#each dados_client}}{{birthDateSpouse}}{{/each}}</td>
            <td>{{#each dados_client}}{{spouseEmail}}{{/each}}</td>
            <td>{{#each dados_client}}{{phoneFamily}}{{/each}}</td>
            <td>{{#each dados_client}}{{spouseProfession}}{{/each}}</td>
            <td>{{#each dados_client}}{{spousePassport}}{{/each}}</td>
            <td>{{#each dados_client}}{{spousePassportValidation}}{{/each}}</td>

            <td>{{#each dados_client}}{{children}}{{/each}}</td>
            <td>{{#each dados_client}}{{birthDateChildren}}{{/each}}</td>
            <td>{{#each dados_client}}{{childrenPassport}}{{/each}}</td>
            <td>{{#each dados_client}}{{childrenPassportValidation}}{{/each}}</td>

            <td>{{#each dados_client}}{{companionFullname}}{{/each}}</td>
            <td>{{#each dados_client}}{{birthDateCompanion}}{{/each}}</td>
            <td>{{#each dados_client}}{{companionCellphone}}{{/each}}</td>
            <td>{{#each dados_client}}{{companionEmail}}{{/each}}</td>
            <td>{{#each dados_client}}{{companionPassport}}{{/each}}</td>
            <td>{{#each dados_client}}{{companionPassportValidation}}{{/each}}</td>

            <td>{{#each dados_client}}{{instagram}}{{/each}}</td>
            <td>{{#each dados_client}}{{facebook}}{{/each}}</td>
            <td>{{#each dados_client}}{{others}}{{/each}}</td>
            <td>{{#each dados_client}}{{funil}}{{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Status "Status"}}
              Status
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Conhecimento "Conhecimento"}}
              Conhecimento
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_NovasExperiencias "NovasExperiências"}}
              Novas Experiências
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Diversao "Diversão"}}
              Diversão
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_BemEstar "BemEstar"}}
              Bem Estar
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Exclusividade "Exclusividade"}}
              Exclusividade
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_OtherNeed ""}}
              -
              {{else}}
              {{profile_OtherNeed}}
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Esporte "Esporte"}}
              Esporte
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Refinado "Refinado"}}
              Refinado
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Simples "Simples"}}
              Simples
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Cult "Cult"}}
              Cult
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Comida "Comida"}}
              Comida
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Vinhos "Vinhos"}}
              Vinhos
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_OtherType ""}}
              -
              {{else}}
              {{profile_OtherType}}
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Contemporaneo "Contemporâneo"}}
              Contemporâneo
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Classico "Clássico"}}
              Clássico
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Boutique "Boutique"}}
              Boutique
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_HotelSimples "Simples"}}
              Simples
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_AndarAlto "AndarAlto"}}
              Andar Alto
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_AndarBaixo "AndarBaixo"}}
              Andar Baixo
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_OtherHotel ""}}
              -
              {{else}}
              {{profile_OtherHotel}}
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_ResortSim "Sim"}}
              Sim
              {{else}}{{#compare profile_ResortNao "Não"}}
              Não
              {{else}}{{#compare profile_ResortTalvez "Talvez"}}
              Talvez
              {{else}}
              -
              {{/compare}}{{/compare}}{{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}{{average_Budget}}{{/each}}</td>

            <td>{{#each dados_client}}{{plane_class}}{{/each}}</td>
            <td>{{#each dados_client}}{{plane_seat_pref}}{{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Corrida "Corrida"}}
              Corrida
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Bike "Bike"}}
              Bike
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Natação "Natação"}}
              Natação
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_CoriidaCarro "CorridaCarro"}}
              Corrida de carro
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Musculação "Musculação"}}
              Musculação
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Pesca "Pesca"}}
              Pesca
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Mergulho "Mergulho"}}
              Mergulho
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Golf "Golf"}}
              Golf
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Tênis "Tênis"}}
              Tênis
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_OtherSports ""}}
              -
              {{else}}
              {{profile_OtherSports}}
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Italiana "Italiana"}}
              Italiana
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Japonesa "Japonesa"}}
              Japonesa
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Mediterrânea "Mediterranea"}}
              Mediterrânea
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Indiana "Indiana"}}
              Indiana
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Asiática "Asiática"}}
              Asiática
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Francesa "Francesa"}}
              Francesa
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_FrutosDoMar "FrutosDoMar"}}
              Frutos do mar
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_Carnes "Carnes"}}
              Carnes
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_OtherDiet ""}}
              -
              {{else}}
              {{profile_OtherDiet}}
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_SmokeSim "Sim"}}
              {{profile_SmokeSim}}
              {{else}}{{#compare profile_SmokeNão "Não"}}
              {{profile_SmokeNão}}
              {{else}}
              -
              {{/compare}}{{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_AllergySim "Sim"}}
              {{profile_AllergySim}}
              {{else}}{{#compare profile_AllergyNão "Não"}}
              {{profile_AllergyNão}}
              {{else}}
              -
              {{/compare}}{{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_AllergySim "Sim"}}
              {{profile_WhichAllergy}}
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_DisableSim "Sim"}}
              {{profile_DisableSim}}
              {{else}}{{#compare profile_DisableSim "Não"}}
              {{profile_DisableNão}}
              {{else}}
              -
              {{/compare}}{{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_DisableSim "Sim"}}
              {{profile_WhichDisable}}
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_FoodSim "Sim"}}
              {{profile_FoodSim}}
              {{else}}{{#compare profile_FoodSim "Não"}}
              {{profile_FoodNão}}
              {{else}}
              -
              {{/compare}}{{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_FoodSim "Sim"}}
              {{profile_WhichFood}}
              {{else}}
              -
              {{/compare}}
            {{/each}}</td>

            <td>{{#each dados_client}}
              {{#compare profile_FoodVegano "Vegano"}}
              Sim
              {{else}}
              Não
              {{/compare}}
            {{/each}}</td>


            <td>{{#each dados_client}}
              {{#compare profile_FoodVegetariano "Vegetariano"}}
              Sim
              {{else}}
              Não
              {{/compare}}
            {{/each}}</td>



            <!-- Viagens____________________________________________________________________ -->
                          <td>{{#each dados_manyBudgets}}{{codFile}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{planDate}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{planCity}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{planCountry}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{planFreeField}}{{/each}}</td>
                          <!-- <td>{{#each dados_manyBudgets}}{{coin}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{totalValue}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{payment}}{{/each}}</td> -->
                          <td>{{#each dados_manyBudgets}}{{companions}}{{/each}}</td>
                          <td>{{#each dados_manyBudgets}}{{finalized}}{{/each}}</td>

            <!-- Voos_______________________________________________________________________ -->
                          <td>{{#each dados_manyFlights}}{{flightNum}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{dateFlight}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{from}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{destination}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{timeOut}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{timeIn}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{coin}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueAdult_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueAdult_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueAdult_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueAdult_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numADT_FirstClass}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueAdult_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueAdult_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueAdult_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueAdult_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numADT_Executive}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueAdult_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueAdult_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueAdult_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueAdult_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numADT_Economic}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueCHD_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueCHD_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueCHD_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueCHD_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numCHD_FirstClass}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueCHD_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueCHD_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueCHD_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueCHD_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numCHD_Executive}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueCHD_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueCHD_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueCHD_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueCHD_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numCHD_Economic}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueInf_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueInf_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueInf_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueInf_FirstClass}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numINF_FirstClass}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueInf_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueInf_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueInf_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueInf_Executive}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numINF_Executive}}{{/each}}</td>

                          <td>{{#each dados_manyFlights}}{{tariffValueInf_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{taxValueInf_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{ravValueInf_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{totalValueInf_Economic}}{{/each}}</td>
                          <td>{{#each dados_manyFlights}}{{numINF_Economic}}{{/each}}</td>


            <!-- Hotéis_____________________________________________________________________ -->
                          <td>{{#each dados_manyHotels}}{{city}}{{/each}}</th>
                          <td>{{#each dados_manyHotels}}{{coin}}{{/each}}</th>

                          <td>{{#each dados_manyHotels}}{{acomodationType1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{hotel1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{qntd1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{category1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{food1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{valueApt1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberDaily1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberApt1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{total1}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{cancellationPeriod}}{{/each}}</td>

                          <td>{{#each dados_manyHotels}}{{acomodationType2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{hotel2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{qntd2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{category2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{food2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{valueApt2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberDaily2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberApt2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{total2}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{cancellationPeriod2}}{{/each}}</td>

                          <td>{{#each dados_manyHotels}}{{acomodationType3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{hotel3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{qntd3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{category3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{food3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{valueApt3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberDaily3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{numberApt3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{total3}}{{/each}}</td>
                          <td>{{#each dados_manyHotels}}{{cancellationPeriod3}}{{/each}}</td>

            <!-- Transporte_________________________________________________________________ -->
                          <td>{{#each dados_manyCars}}{{from}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{to}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{dateFrom}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{timeFrom}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{valueADT}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{numADT}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{valueCHD}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{numCHD}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{valueINF}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{numINF}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{coinT}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{totalTranslado}}{{/each}}</td>

                          <td>{{#each dados_manyCars}}{{typeCar}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{withdrawal}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{delivery}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{totalCar}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{city}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{shift}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{safe}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{others}}{{/each}}</td>
                          <td>{{#each dados_manyCars}}{{coinC}}{{/each}}</td>

            <!-- Seguro_____________________________________________________________________ -->
                          <td>{{#each dados_manySafes}}{{insuranceName}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceCoverage}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{SafenumADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{SafenumCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{SafenumINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceCoin}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{insuranceTOT}}{{/each}}</td>

                          <td>{{#each dados_manySafes}}{{ticketsName}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{ticketsADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{TicketnumADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{ticketsCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{TicketnumCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{ticketsINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{TicketnumINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{ticketsCoin}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{ticketsTOT}}{{/each}}</td>

                          <td>{{#each dados_manySafes}}{{otherName}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{otherADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{OthernumADT}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{otherCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{OthernumCHD}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{otherINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{OthernumINF}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{otherCoin}}{{/each}}</td>
                          <td>{{#each dados_manySafes}}{{otherTOT}}{{/each}}</td>


          </tr>
          {{/each}}

        </tbody>
      </table>
     </body>
  </div>
  <button onclick="docCsv(['tabelaClientes'], 'tabela')">Download</button>


  </div>
  </div>



<script>
function tableGenerator(divId, id, filename){
  //Mudarestado(divId);
  //docCsv(id, filename);
}

  function Mudarestado(divid){
    document.getElementById(divid).style.display = "none";

  }
    function docCsv(id,fileName){
        //let id = ["tabelaClientes", "tabelaViagens"];
        let table = [];

        let data = [];
        for(let i = 0; i < id.length; i++){
          table[i] = document.getElementById(id[i]);
          data[i]= table[i].outerHTML.replace(/ /g, '%20');
            // .replace(/<\/thead>/g, '')
            // .replace(/<tbody id="client_table">/g, '')
            // .replace(/<tbody id="budget_table">/g, '')
            // .replace(/<!-- Cliente____________________________________________________________________ -->/g,'')
            // .replace(/<!-- Viagens____________________________________________________________________ -->/g, '')
            // .replace(/<!-- Voos_______________________________________________________________________ -->/g, '')
            // .replace(/<!-- Hotéis_____________________________________________________________________ -->/g, '')
            // .replace(/<!-- Transporte_________________________________________________________________ -->/g, '')
            // .replace(/<!-- Seguro_____________________________________________________________________ -->/g, '')
            // .replace(/<\/tbody>/g, '')
            // .replace(/<tr>/g, '')
            // .replace(/<\/tr>/g, '\r\n')
            // .replace(/<th>/g, '')
            // .replace(/<\/th>/g, ';')
            // .replace(/\t/g, '')
            // .replace(/\n/g, '');
        }
        fileName = fileName + '.xls';
        let meta = '<meta http-equiv="content-type" content="text/html; charset=UTF-8" />';
        let mylink = document.createElement('a');
        document.body.appendChild(mylink);

          // let blob = new Blob(['\ufeff', data], {
          //   type: 'application/vnd.ms-excel'});
          // navigator.msSaveOrOpenBlob( blob, fileName);

          mylink.download = fileName;
          mylink.href = "data:application/vnd.ms-excel," + meta + data;
          mylink.click();
          //redirect();
    }

    function redirect(){
      location.href='/tableGenerator'
    }
</script>

<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
