<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<header class="login_page">
</header>
<form action="/new/pageH/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <div class="container rowclass">
    <div class="row rowclass">
      <div class="col-sm pageA-padding">
        <table>
        <label for="exampleInputPassword1">Responsável pela viagem:</label><br>
        <input readonly="readonly "type="text" placeholder= "" value="{{client.fullname}}" readonly="readonly"> <br> <br>

          {{#each test}}
              <li>{{name}}</li>
          {{/each}}


        <br><br>
        <label>De: </label>
        <input readonly="readonly "type="fullname" value="{{uData.pData}}"  id="birthDate"  onblur='addDashesNascimento(this)' maxlength='8' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
        <label> Até: </label>
        <input readonly="readonly "type="fullname" value="{{uData.uData}}"  id="birthDate"  onblur='addDashesNascimento(this)' maxlength='8' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));"> <br>
        <label for="exampleInputPassword1"></label>
        </table>
        <br>


  <div id="some-radios" class="some">
    <div class="dinamic_spec">
    <h3>Continentes</h3>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sul1-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">América do Sul 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="central1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">América Central 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="norte1-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">América do Norte 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="europa1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Europa 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="asia1-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">Ásia 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="africa1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">África 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="oceania1-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">Oceania 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="caribe1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Caribe 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="medio1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Oriente Médio 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ilhas1-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Ilhas 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sul2-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">América do Sul 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="central2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">América Central 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="norte2-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">América do Norte 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="europa2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Europa 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="asia2-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">Ásia 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="africa2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">África 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="oceania2-radio" value="option1">
      <label class="form-check-label" for="inlineRadio1">Oceania 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="caribe2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Caribe 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="medio2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Oriente Médio 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ilhas2-radio" value="option2">
      <label class="form-check-label" for="inlineRadio2">Ilhas 2</label>
    </div>
  </div>
</div>

        <div class="images-form " id="images-form">

            <div class="sul1-imgs hidden-imgs" id="idsul1-imgs">
              <img id="idsul1-imgs" src="/images/AMS1.png">
            </div>

            <div class="sul2-imgs hidden-imgs" id="idsul2-imgs">
              <img src="/images/AMS2.png">
            </div>

            <div class="central1-imgs hidden-imgs" id="idcentral1-imgs">
              <img src="/images/AC1.png">
            </div>

            <div class="central2-imgs hidden-imgs" id="idcentral2-imgs">
              <img src="/images/AC2.png">
            </div>

            <div class="norte1-imgs hidden-imgs" id="idnorte1-imgs">
              <img src="/images/AMN1.png">
            </div>

            <div class="norte2-imgs hidden-imgs" id="idnorte2-imgs">
              <img src="/images/AMN2.png">
            </div>

            <div class="europa1-imgs hidden-imgs" id="ideuropa1-imgs">
              <img src="/images/EU1.png">
            </div>

            <div class="europa2-imgs hidden-imgs" id="ideuropa2-imgs">
              <img src="/images/EU2.png">
            </div>

            <div class="asia1-imgs hidden-imgs" id="idasia1-imgs">
              <img src="/images/AS1.png">
            </div>

            <div class="asia2-imgs hidden-imgs" id="idasia2-imgs">
              <img src="/images/AS2.png">
            </div>

            <div class="africa1-imgs hidden-imgs" id="idafrica1-imgs">
              <img src="/images/AF1.png">
            </div>

            <div class="africa2-imgs hidden-imgs" id="idafrica2-imgs">
              <img src="/images/AF2.png">
            </div>

            <div class="oceania1-imgs hidden-imgs" id="idoceania1-imgs">
              <img src="/images/OC1.png">
            </div>

            <div class="oceania2-imgs hidden-imgs" id="idoceania2-imgs">
              <img src="/images/OC2.png">
            </div>

            <div class="caribe1-imgs hidden-imgs" id="idcaribe1-imgs">
              <img src="/images/CB1.png">
            </div>

            <div class="caribe2-imgs hidden-imgs" id="idcaribe2-imgs">
              <img src="/images/CB2.png">
            </div>

            <div class="medio1-imgs hidden-imgs" id="idmedio1-imgs">
              <img src="/images/OM1.png">
            </div>

            <div class="medio2-imgs hidden-imgs" id="idmedio2-imgs">
              <img src="/images/OM2.png">
            </div>

            <div class="ilhas1-imgs hidden-imgs" id="idilhas1-imgs">
              <img src="/images/IL1.png">
            </div>

            <div class="ilhas2-imgs hidden-imgs" id="idilhas2-imgs">
              <img src="/images/IL2.png">
            </div>
          </div>

        <!-- <h2 id="titulo_roteiro">Roteiro de dias</h2> -->
        <div class="dinamic_spec">

          <table>
              <div class="col-sm-auto" id="roteiro-dias">
                <!-- <input readonly="readonly "type="date" placeholder="Data" value="{{budget.planDate}}" class= "date start-date form-control classCinput"><br>
                <input readonly="readonly "placeholder="País" value="{{budget.planCountry}}" class= "form-control classCinput2"><br>
                <input readonly="readonly "placeholder="Cidade" value="{{budget.planCity}}" class= "form-control classCinput2"> -->
              </div>
          </table>

              <h3> Voos </h3>

          <div class="d-flex  flex-row" id="PageH_Col2">

              {{#each infoVoos}}
              <div class="p-2">
                <h3>Voo {{numero}}</h3>
                <label>De:</label>
                <input type="text" placeholder="Origem" value="{{de}}" class="form-control" readonly="readonly"/>
                <label>Para:</label>
                <input type="text" placeholder="Destino" value="{{para}}" class="form-control" readonly="readonly"/>
                <label>Data de ida:</label>
                <input type="textarea" placeholder="dd/mm/aa" class="form-control" readonly="readonly" value="{{dataIda}}" onclick="reverseString({{dataIda}})"></input>
                <label>Data de Chegada:</label>
                <input type="text" placeholder="dd/mm/aa" value="{{dataPara}}" class="form-control" readonly="readonly"/>
                <label>Valor total:</label>
                <input type="text" class="form-control" value="{{valortotal}}" readonly="readonly">

              </div>
              {{/each}}



          </div>
      </div>




        <div class="dinamic_spec_pageH" id="vamo">
          {{#each infoHoteis}}
          <h3>Hoteis {{numero}}</h3>
        <div class="ajustes">
          <div class="row rowclass" >
            <div class="col-sm" id="landing-hotel-col1">
              <div class="box_hotelH_left"><br><br><br>
                <div class="classa">
                  <label>Nome do Hotel:</label>
                  <input readonly="readonly "class="form-control" placeholder="Hotel 1" value="{{hotel_1}}">
                </div><br>
                <div class="classa">
                  <label>Categoria do Apartaento</label>
                  <input readonly="readonly "class="form-control" placeholder="Categoria do Apartamento" value="{{categoria1}}">
                </div><br>
                <div class="classa">
                  <label>Alimentação</label>
                  <input readonly="readonly" class="form-control" value="{{comida1}}">
                  </input>
                </div><br>
                <div class="classa">
                  <label>Valor do Apartamento</label>
                  <input readonly="readonly "class="form-control" placeholder="Valor Apto" value="{{valorapto1}}">
                </div><br>
                <div class="classa">
                  <label>Número de Diárias</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de diárias" value="{{numeroDiarias1}}">
                </div><br>
                <div class="classa">
                  <label>Número de Apartamentos</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de Apartamentos" value="{{numeroApto1}}">
                </div><br>
                <div class="classa">
                  <label>Total</label>
                  <input readonly="readonly "class="form-control" placeholder="Total" value="{{total_1}}">
                </div><br>
                <div class="classa">
                  <label>Período de Cancelamento</label>
                  <input readonly="readonly" class="form-control" value="{{periodoCancelamento1}}">
                </input>
                </div>
              </div>
            </div>
            <div class="col-sm" id="landing-hotel-col2">
              <div class="box_hotelH_midle">
                <div class="classa">
                  <label>Cidade:</label>
                  <input readonly="readonly "class="form-control" placeholder="Cidade 1" value="{{cidade}}">
                </div><br>
                <div class="classa">
                  <label>Nome do Hotel:</label>
                  <input readonly="readonly "class="form-control" placeholder="Hotel 2" value="{{hotel_2}}">
                </div><br>
                <div class="classa">
                  <label>Categoria do Apartamento:</label>
                  <input readonly="readonly "class="form-control" placeholder="Categoria do Apartamento" value="{{categoria2}}">
                </div><br>
                <div class="classa">
                  <label>Alimentação:</label>
                  <input readonly="readonly" class="form-control" value="{{comida2}}">
                  </input>
                </div><br>
                <div class="classa">
                  <label>Valor do Apartamento:</label>
                  <input readonly="readonly "class="form-control" placeholder="Valor Apto" value="{{valorapto2}}">
                </div><br>
                <div class="classa">
                  <label>Número de Diárias:</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de diárias" value="{{numeroDiarias2}}">
                </div><br>
                <div class="classa">
                  <label>Número de Apartamentos:</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de Apartamentos" value="{{numeroApto2}}">
                </div><br>
                <div class="classa">
                  <label>Total:</label>
                  <input readonly="readonly "class="form-control" placeholder="Total" value="{{total_2}}">
                </div><br>
                <div class="classa">
                  <label>Período de Cancelamento:</label>
                  <input readonly="readonly" class="form-control" value="{{periodoCancelamento2}}">
                </input>
                </div>
              </div>
            </div>
            <div class="col-sm" id="landing-hotel-col3">
              <div class="box_hotelH_right"><br><br><br>
                <div class="classa">
                  <label>Nome do Hotel:</label>
                  <input readonly="readonly "class="form-control" placeholder="Hotel 3" value="{{hotel_3}}">
                </div><br>
                <div class="classa">
                  <labe>Categoria do Apartamento:</label>
                  <input readonly="readonly "class="form-control" placeholder="Categoria do Apartamento" value="{{categoria3}}">
                </div><br>
                <div class="classa">
                  <label>Alimentação</label>
                  <input readonly="readonly" class="form-control" value="{{comida3}}">
                  </input>
                </div><br>
                <label>Valor do Apartamento:</label>
                <div class="classa">
                  <input readonly="readonly "class="form-control" placeholder="Valor Apto" value="{{valorapto3}}">
                </div><br>
                <div class="classa">
                  <label>Número de Diárias</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de diárias" value="{{numeroDiarias3}}">
                </div><br>
                <div class="classa">
                  <label>Número de Apartamentos</label>
                  <input readonly="readonly "class="form-control" placeholder="Número de Apartamentos" value="{{numeroApto3}}">
                </div><br>
                <div class="classa">
                  <label>Total:</label>
                  <input readonly="readonly "class="form-control" placeholder="Total" value="{{total_3}}">
                </div><br>
                <div class="classa">
                  <label>Periodo de Cancelamento</label>
                  <input readonly="readonly" class="form-control" value="{{periodoCancelamento3}}">
                </input>
                </div>
              </div>
            </div>
          </div>
          </div>
          {{/each}}
        </div>



        <h1> Traslado/carro </h1>


          <div class="dinamic_spec" id="vamo">

            <div class="row rowclass">
              <div class="col-12 rowclass" >
                <div class="boxRightPageH">
                  <div>
                    {{#each infoTraslado}}
                    <h3> Traslado {{numero}} </h3><br>
                    <label>De:</label>
                    <input readonly="readonly "value="{{deT}}" type="text" placeholder="De" class="date start-date"/>
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <label>Para:</label>
                    <input readonly="readonly "value="{{paraT}}" type="text" placeholder="Para" class="date start-date"/>
                    <br><br>
                    <label>Data de Ida:</label>
                    <input readonly="readonly "value="{{dataIdaT}}" type="date" placeholder="dd/mm/aa" class="date start-date"/>
                    <i class="fa fa-calendar"></i>
                    <label>Hora Ida</label>
                    <input readonly="readonly "value="{{horaIdaT}}" type="text" placeholder="Horário" class="date start-date"/>
                    <br><br>
                    <label>Data Chegada:</label>
                    <input readonly="readonly "value="{{dataParaT}}" type="date" placeholder="dd/mm/aa" class="date start-date"/>
                    <i class="fa fa-calendar"></i>
                    <label>Hora Chegada:</label>
                    <input readonly="readonly "value="{{horaParaT}}" type="text" placeholder="Horário" class="date start-date"/>
                  {{/each}}
                </div>
                  {{#each infoTraslado}}
                  <h3>Informações {{numero}}</h3>
                  <div class="container rowclass col-9" id="vaiqcola">
                    <div class="col-sm rowclass">
                      <div class="rowclass col-lg-11">
                        <br>
                        <label>Valor por Adulto:</label>
                        <input value="{{valorAdtT}}" readonly="readonly" class="date start-date " placeholder="Val ADT"><br>
                      </div>
                    </div>
                    <div class="col-sm rowclass">
                      <div class=" rowclass col-lg-11">
                        <br>
                        <label>Valor por Criança:</label>
                        <input value="{{valorChdT}}" readonly="readonly" class="date start-date" placeholder="Val CHD"><br>
                      </div>
                    </div>
                    <div class="col-sm rowclass">
                      <div class="rowclass col-lg-11">
                        <br>
                        <label>Valor por bebê:</label>
                        <input value="{{valorInfT}}" class="date start-date" readonly="readonly" placeholder="Val INF"><br>
                      </div><br>
                    </div>
                  </div>
                {{/each}}
              </div>
             </div>
            </div>
          <!-- coluna 3 -->
            <div class="col-sm-auto " id="nois">
            <div class="CarsPageH">
              {{#each infoCarros}}
              <br><br><h3> Carro {{numero}} </h3><br>
              <div class="classa">
                <label>Local de Retirada:</label>
                <input class="form-control" placeholder="Retirada" readonly="readonly "value="{{retirada}}">
              </div><br>
              <div class="classa">
                <label>Outras informações:</label>
                <input class="form-control" placeholder="Outros" readonly="readonly "value="{{outros}}">
              </div><br>
              <div class="classa">
                <label>Local de Entrega:</label>
                <input class="form-control" placeholder="Entrega" readonly="readonly "value="{{entrega}}">
              </div><br>
              <div class="classa">
                <label>Valor do Carro:</label>
                <input class="form-control" placeholder="Valor carro 1" readonly="readonly "value="{{valor}}">
              </div><br>
              <div class="classa">
                <label>Cidade:</label>
                <input class="form-control" placeholder="Cidade" readonly="readonly "value="{{cidade}}">
              </div><br>
              <div class="classa">
                <label>Tipo do carro:</label>
                <input class="form-control" placeholder="Tipo" readonly="readonly "value="{{tipoCarro}}">
              </div><br>
              <div class="classa">
                <label>Trasmissão do Carro:</label>
                <input class="form-control" placeholder="Transmissão" readonly="readonly "value="{{transmissao}}">
              </div><br>
              <div class="classa">
                <label>Qual o Seguro:</label>
                <input class="form-control" placeholder="Seguros" readonly="readonly "value="{{seguro}}">
              </div><br>
              {{/each}}
            </div>
        </div>
      </div>



        <h1> Serviços </h1>

        <div class="dinamic_spec d-flex  flex-row" id="vamo">
          {{#each infoSeguro}}

          <div class="p-3">
                <div class="form-group">
                  <label id="titleG" for="exampleInputPassword1">Seguro {{numero}}:</label>
                  <label>Qual seguro será utilizado:</label>
                  <input value="{{seguro}}" type="text" placeholder= "Qual seguro será utilizado?" readonly="readonly" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Cobertura</label>
                  <input value="{{coberturaSeguro}}" type="text" placeholder= "Cobertura do seguro" readonly="readonly" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Adultos:</label>
                  <input value="{{valorAdtS}}" type="text" placeholder= "Preço por adulto" readonly="readonly" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Crianças:</label>
                  <input value="{{valorChdS}}" type="text" placeholder= "Preço por criança" readonly="readonly" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Bebês:</label>
                  <input value="{{valorInfS}}" type="text" placeholder= "Preço por infatos" readonly="readonly" class="form-control">
                </div>
          </div>
          {{/each}}

          {{#each infoTickets}}

          <div class="p-3">
                <div class="form-group">
                  <label id="titleG" for="exampleInputPassword1">Tickets/Ingressos {{numero}}:</label>
                  <label>Nome do Evento:</label>
                  <input value="{{tickets}}" type="text" placeholder= "" class="form-control" readonly="readonly">
                  <br>
                  <label for="exampleInputPassword1">Valor Adultos:</label>
                  <input value = "{{valorAdtTk}}" type="text" placeholder= "Preço por adulto" class="form-control" readonly="readonly">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Crianças:</label>
                  <input value="{{valorChdTk}}" type="text" placeholder= "Preço por criança" class="form-control" readonly="readonly">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Bebês:</label>
                  <input value="{{valorInfTk}}" type="text" placeholder= "Preço por infatos" class="form-control" readonly="readonly">
                </div>
          </div>
          {{/each}}

          {{#each infoOutros}}

          <div class="p-3">
                <div class="form-group">
                  <label id="titleG" for="exampleInputPassword1">Outros {{numero}}:</label>
                  <br>
                  <label>O que será:</label>
                  <input value="{{outros}}" type="text" placeholder= "" class="form-control" readonly="readonly">
                  <br>
                  <label for="exampleInputPassword1">Valor Adultos:</label>
                  <input value="{{valorAdtO}}" type="text" placeholder= "Preço por adulto" class="form-control" readonly="readonly">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Crianças:</label>
                  <input value="{{valorChdO}}" type="text" placeholder= "Preço por criança" class="form-control" readonly="readonly">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Valor Bebês:</label>
                  <input value="{{valorInfO}}" type="text" placeholder= "Preço por infatos" class="form-control" readonly="readonly">
                </div>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="dinamic_spec">
        <h3>Observações:</h3> <br>
        <textarea name="" class="observacoes" rows="10" cols="120"></textarea>
        <br><br><br>

            <button class="btn-fake" href="../layouts/dashboard.hbs" onclick="return confirm('Deseja concluir sua compra?')">Concluir</button>

      </div>



      </div>
    </div>
  </div>

</form>


<script type="text/javascript" src="/javascripts/images.js">  </script>
<script type="text/javascript" src="/javascripts/invert.js">  </script>
