<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
  navbar
</header>
<form action="/registred/pageA/{{client._id}}" method="post" class="pagesFront" onload="getInfo()">

  <!-- Cadastro - início -->
  <div class="dinamic_spec">
    <h1> Cadastro </h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[fullname]" value="{{client.fullname}}" class="form-control" id="fullname" placeholder="Nome Completo" required>
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email]" value="{{client.email}}" class="form-control" id="email" placeholder="Email" required>
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email1]" value="{{client.email1}}" class="form-control" id="email_confirmation" placeholder="Confirme seu email" required>
          </div><br>
          <div class="classa">
            <input type="register" name = "client[register]" value="{{client.register}}" class="form-control" id="register" placeholder="CPF" onblur='addDashesCPF(this)' maxlength='14'  onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
          <div class="classa">
            <input type="id" name = "client[id]" value="{{client.id}}" class="form-control" id="id" placeholder="RG" required>
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[birthDate]" value="{{client.birthDate}}" class="form-control" id="birthDate" placeholder="Data de Nascimento" maxlength="10" onblur='addDashesNascimento(this)'  onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
          <div class="classa">
            <input type="phone" name = "client[phone]" value="{{client.phone}}" class="form-control" id="phone" placeholder="Telefone Fixo" onblur='addDashesFixo(this)' maxlength='13' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
          <div class="classa">
            <input type="cellphone" name = "client[cellphone]" value="{{client.cellphone}}" class="form-control" id="cellphone" placeholder="Celular" onblur='addDashesCel(this)' maxlength='14' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
          <div class="classa">
            <input type="cellphone1" name = "client[cellphone1]" value="{{client.cellphone1}}" class="form-control" id="cellphone1" placeholder="Celular" onblur='addDashesCel(this)' maxlength='14' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[street]" value="{{client.street}}" class="form-control" id="street" placeholder="Rua/ Av./ etc">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[neighbourhood]" value="{{client.neighbourhood}}" class="form-control" id="neighbourhood" placeholder="Bairro">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[complement]" value="{{client.complement}}" class="form-control" id="complement" placeholder="Complemento">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[city]" value="{{client.city}}" class="form-control" id="city" placeholder="Cidade">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[zipcode]" value="{{client.zipcode}}" class="form-control" id="zipcode" placeholder="CEP" onblur='addDashesCep(this)' maxlength='10' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
          <div class="classa">
            <select name="client[state]" class="form-control">
              <option style = "color:red;">{{client.state}}</option>
              <option>AC</option>
              <option>AL</option>
              <option>AP</option>
              <option>AM</option>
              <option>BA</option>
              <option>CE</option>
              <option>DF</option>
              <option>ES</option>
              <option>GO</option>
              <option>MA</option>
              <option>MT</option>
              <option>MS</option>
              <option>MG</option>
              <option>PA</option>
              <option>PB</option>
              <option>PR</option>
              <option>PE</option>
              <option>PI</option>
              <option>RJ</option>
              <option>RN</option>
              <option>RS</option>
              <option>RO</option>
              <option>RR</option>
              <option>SC</option>
              <option>SP</option>
              <option>SE</option>
              <option>TO</option>
            </select>
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[maritalStatus]" class="form-control">
              <option style = "color:red;">{{client.maritalStatus}}</option>
              <option>Casado</option>
              <option>Solteiro</option>
              <option>Viuvo</option>
              <option>Noivo</option>
            </select>
          </div><br>
          <div class="classa">
            <input type="profession" name = "client[profession]" class="form-control" id="profession" placeholder="Profissão">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[wedding_anniversary]" class="form-control" id="wedding_anniversary" placeholder="Aniversário de Casamento">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passport]" class="form-control" id="passport" placeholder="Passaporte">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passportValidation]" class="form-control" id="passportValidation" placeholder="Validade Passaporte" onblur="addDashesPassport(this)" maxlength="10" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
          </div><br>
        </div>
      </div>
    </div>
  </div>
  <!-- Cadastro - fim -->


  <!-- Família - início -->
  <div class="dinamic_spec">
      <h1>Família</h1>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="spouseName" name = "client[spouseName]" value="{{client.spouseName}}" class="form-control" id="spouseName" placeholder="Cônjuge">
            </div><br>
            <div class="classa">
              <input type="email" name = "client[spouseEmail]" value="{{client.spouseEmail}}" class="form-control" id="email" placeholder="Email">
            </div><br>
            <div class="classa">
              <input type="profession2" name = "client[spouseProfession]" value="{{client.spouseProfession}}" class="form-control" id="profession2" placeholder="Profissão">
            </div><br>
            <div class="classa">
              <input type="phoneFamily" name = "client[phoneFamily]" value="{{client.phoneFamily}}" class="form-control" id="phoneFamily" placeholder="Telefone Fixo" onblur='addDashesFixo(this)' maxlength='13' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthDateSpouse]" value="{{client.birthDateSpouse}}" class="form-control" id="birthDateSpouse" placeholder="Data de Nascimento" maxlength="10" onblur='addDashesNascimento(this)'  onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[spousePassport]" value="{{client.spousePassport}}" class="form-control" id="spousePassport" placeholder="Passaporte">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[spousePassportValidation]" value="{{client.spousePassportValidation}}" class="form-control" id="spousePassportValidation" placeholder="Validade Passaporte" onblur="addDashesPassport(this)" maxlength="10" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
          </div>
        </div>
      </div>
      <div class="container rowclass">
        {{#each allFamily}}
          <div class="row rowclass">
            <div class="col-sm pageA-padding">
              <div class="classa">
                <input type="sondaughter" name = "client[children]" value="{{children}}" class="form-control" id="children" placeholder="Filho/a">
              </div><br>
              <div class="classa">
                <input type="text" name = "client[birthDateChildren]" value="{{birthDateChildren}}" class="form-control" id="birthDateChildren" placeholder="Data de Nascimento" maxlength='10' onblur='addDashesNascimento(this)'  onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
              </div><br>
            </div>

            <div class="col-sm pageA-padding">
              <div class="classa">
                <input type="fullname" name = "client[childrenPassport]" value="{{childrenPassport}}" class="form-control" id="childrenPassport" placeholder="Passaporte">
              </div><br>
              <div class="classa">
                <input type="fullname" name = "client[childrenPassportValidation]" value="{{childrenPassportValidation}}" class="form-control" id="childrenPassportValidation" placeholder="Validade Passaporte" onblur="addDashesPassport(this)" maxlength="10" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
              </div><br>
            </div>
          </div>
          <div class="">
            <label>Apagar?</label>
            <input type="radio" name="client[deleting_chd] type_chd{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o/a {{children}} ?')">Sim</input>
            <input type="radio" name="client[deleting_chd] type_chd{{repNum}}" value="0" checked>Não</input>
          </div>
        {{/each}}
      </div>
    <div id="familypageA">
    </div>
    <button type="button" class="add_buttons" id="add-filhos">+ Filhos</button>
  </div>
  <!-- Família - fim -->


  <!-- Acompanhantes - início -->
  <div class="dinamic_spec">

      <h1> Acompanhantes </h1>
      {{#each allCompanions}}
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[companionFullname]" value="{{companionFullname}}" class="form-control" id="companionFullname" placeholder="Nome Completo">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionEmail]" value="{{companionEmail}}" class="form-control" id="companionEmail" placeholder="Email">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionCellphone]" value="{{companionCellphone}}" class="form-control" id="companionCellphone" placeholder="Celular" onblur='addDashesCel(this)' maxlength='14' onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthDateCompanion]" value="{{birthDateCompanion}}" class="form-control" id="birthDateCompanion" placeholder="Data de Nascimento" maxlength="10" onblur='addDashesNascimento(this)'  onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionPassport]" value="{{companionPassport}}" class="form-control" id="companionPassport" placeholder="Passaporte">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionPassportValidation]" value="{{companionPassportValidation}}" class="form-control" id="companionPassportValidation" placeholder="Validade Passaporte" onblur="addDashesPassport(this)" maxlength="10" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
            </div><br>
          </div>
        </div>
        <div class="">
          <label>Apagar?</label>
          <input type="radio" name="client[deleting_comp] type_comp{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir {{companionFullname}} ?')">Sim</input>
          <input type="radio" name="client[deleting_comp] type_comp{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{/each}}
    <div id="acompanhantespageA">
    </div>
  <button type="button" class="add_buttons" id="add-companion">+ Acompanhantes</button>
  </div>
  <!-- Acompanhantes - fim -->

  <!-- Redes sociais - início -->
  <div class="dinamic_spec">
    <h1>Redes Sociais</h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[funil]" class="form-control">
              <option style = "color:red;">{{client.funil}}</option>
              <option>Instagram</option>
              <option>Facebook</option>
              <option>Email</option>
              <option>Google</option>
              <option>Indicação</option>
              <option>Outros</option>
            </select>
          </div>
          <div class="classa">
            <input type="facebook" name = "client[facebook]" value="{{client.facebook}}" class="form-control" id="facebook" placeholder="Facebook">
          </div>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="instagram" name = "client[instagram]" value="{{client.instagram}}" class="form-control" id="instagram" placeholder="Instagram">
          </div>
          <div class="classa">
            <input type="others" name = "client[others]" value="{{client.others}}" class="form-control" id="others" placeholder="Outros">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Redes sociais - fim -->

  <button type="button" class="btn btn-primary buttonPagesClass" id="validation">Conferir Alterações</button>
  <button type="submit" class="btn btn-primary sucess invDiv" id="post_button">Concluir Alterações</button>
</form>

<div class="invDiv">
  <input value="{{clientInfoToFunctions.family}}" id="get1">
  <input value="{{clientInfoToFunctions.companions}}" id="get2">
</div>
<script type="text/javascript" src="/javascripts/replicaPageARegistred.js">  </script>
<script type="text/javascript" src="/javascripts/formInputs.js">  </script>
<script type="text/javascript" src="/javascripts/PageAValidation.js">  </script>
