<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>

<form action="/registred/pageD/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <h1> Aéreo </h1>
  {{#each allFlights}}

    {{#compare inicio "1"}}
      {{#compare firstflightTable "1"}}
      <div class="dinamic_spec">
        <h1>Voo {{idTable}}</h1>
        <div class="header Selected table-responsive" id="flight{{idTable}}">
          <table class="table table-striped table-hover" id="in_country_days{{idTable}}">
            <thead>
              <tr>
                <th colspan="1">Voo</th>
                <th colspan="1">Data</th>
                <th colspan="4">De</th>
                <th colspan="4">Para</th>
                <th colspan="2">Saída</th>
                <th colspan="2">Chegada</th>
              </tr>
            </thead>

      {{else}}

      <div class="dinamic_spec">
        <h1>Voo {{idTable}}</h1>
        <div class="header table-responsive" id="flight{{idTable}}">
          <table class="table table-striped table-hover" id="in_country_days{{idTable}}">
            <thead>
              <tr>
                <th colspan="1">Voo</th>
                <th colspan="1">Data</th>
                <th colspan="4">De</th>
                <th colspan="4">Para</th>
                <th colspan="2">Saída</th>
                <th colspan="2">Chegada</th>
              </tr>
            </thead>
      {{/compare}}
    {{/compare}}

    {{#compare escala "0"}}
      <tr>
        <th colspan="1"><input type="text" placeholder="Num voo" name="flight[flightNum]" value="{{flightNum}}" class="form-control"/></th>
        <th colspan="1"><input type="text" placeholder="dd/mm/aaaa" name="flight[dateFlight]" value="{{dateFrom}}" class="form-control"/></th>
        <th colspan="4"><input type="text" placeholder="De" name="flight[from]" value="{{from}}" class="form-control"/></th>
        <th colspan="4"><input type="text" placeholder="Para" name="flight[destination]" value="{{destination}}" class="form-control"/></th>
        <th colspan="2"><input type="text" placeholder="00:00" name="flight[timeOut]" value="{{timeOut}}" class="form-control"/></th>
        <th colspan="2"><input type="text" placeholder="00:00" name="flight[timeIn]" value="{{timeIn}}" class="form-control"/></th>
        <input type="number" name="flight[escalas]" value="0" class="invDiv">
      </tr>

      {{else}}

      <tr>
        <th colspan="1"><input type="text" placeholder="Num voo" name="flight[flightNum]" value="{{flightNum}}" class="form-control"/></th>
        <th colspan="1"><input type="text" placeholder="dd/mm/aaaa" name="flight[dateFlight]" value="{{dateFrom}}" class="form-control"/></th>
        <th colspan="4"><input type="text" placeholder="De" name="flight[from]" value="{{from}}" class="form-control"/></th>
        <th colspan="4"><input type="text" placeholder="Para" name="flight[destination]" value="{{destination}}" class="form-control"/></th>
        <th colspan="2"><input type="text" placeholder="00:00" name="flight[timeOut]" value="{{timeOut}}" class="form-control"/></th>
        <th colspan="2"><input type="text" placeholder="00:00" name="flight[timeIn]" value="{{timeIn}}" class="form-control"/></th>
        <input type="number" name="flight[escalas]" value="1" class="invDiv">
      </tr>

    {{/compare}}

      {{#compare final "1"}}
          </table>
          <div class="pageDAuto">
            <table class="pageDAuto">
              <tr>
                <th colspan="21"><h4>Primeira Classe</h4></th>
              </tr>
              <tr>
                <th colspan="1"></th>
                <th colspan="4">Tarifa</th>
                <th colspan="1"></th>
                <th colspan="4">Embarque</th>
                <th colspan="1"></th>
                <th colspan="4">Emissão</th>
                <th colspan="1"></th>
                <th colspan="4">Total </th>
                <th colspan="1">Número de passagens</th>
              </tr>
              <tr>
                <th colspan="1"><h5>Adulto</h5></th>
                <th colspan="4"><input name="flight[tariffValueAdult_FirstClass]" onblur="calcularAdt_FirstClass()" type="text" name="qty" id="adt{{ageId1}}_FirstClass" placeholder="Tarifa" class="valor"/ value="{{tariffValueAdult_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueAdult_FirstClass]" onblur="calcularAdt_FirstClass()" type="text" name="qty" id="adt{{ageId2}}_FirstClass" placeholder="Embarque" class="valor"/ value="{{taxValueAdult_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueAdult_FirstClass]" onblur="calcularAdt_FirstClass()" type="text" name="qty" id="adt{{ageId3}}_FirstClass" placeholder="Emissão" class="valor"/ value="{{ravValueAdult_FirstClass}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueAdult_FirstClass]" onblur="calcularAdt_FirstClass()" input type="text" name="total" id="adtResult{{result}}_FirstClass" placeholder="Total ADT" class="valor"/ value="{{totalValueAdult_FirstClass}}"></th>
                <th colspan="1"><input name="flight[numADT_FirstClass]" input type="text" name="total" placeholder="" class="valor"/ value="{{numADT_FirstClass}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Criança</h5></th>
                <th colspan="4"><input name="flight[tariffValueCHD_FirstClass]" onblur="calcularChd_FirstClass()" type="text" name="qty" id="chd{{ageId1}}_FirstClass" placeholder="Tarifa" class="valor"/ value="{{tariffValueCHD_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueCHD_FirstClass]" onblur="calcularChd_FirstClass)" type="text" name="qty" id="chd{{ageId2}}_FirstClass" placeholder="Embarque" class="valor"/ value="{{taxValueCHD_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueCHD_FirstClass]" onblur="calcularChd_FirstClass()" type="text" name="qty" id="chd{{ageId3}}_FirstClass" placeholder="Emissão" class="valor"/ value="{{ravValueCHD_FirstClass}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueCHD_FirstClass]" onblur="calcularChd_FirstClass()" input type="text" name="total" id="chdResult{{result}}_FirstClass" placeholder="Total CHD" class="valor"/ value="{{totalValueCHD_FirstClass}}"></th>
                <th colspan="1"><input name="flight[numCHD_FirstClass]" input type="text" name="total" placeholder="" class="valor"/ value="{{numCHD_FirstClass}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Bebê</h5></th>
                <th colspan="4"><input name="flight[tariffValueInf_FirstClass]" onblur="calcularInf_FirstClass()" type="text" name="qty" id="inf{{ageId1}}_FirstClass" placeholder="Tarifa" class="valor"/ value="{{tariffValueInf_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueInf_FirstClass]" onblur="calcularInf_FirstClass()" type="text" name="qty" id="inf{{ageId2}}_FirstClass" placeholder="Embarque" class="valor"/ value="{{taxValueInf_FirstClass}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueInf_FirstClass]" onblur="calcularInf_FirstClass()" type="text" name="qty" id="inf{{ageId3}}_FirstClass" placeholder="Emissão" class="valor"/ value="{{ravValueInf_FirstClass}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueInf_FirstClass]" onblur="calcularInf_FirstClass()" sinput type="text" name="total" id="infResult{{result}}_FirstClass" placeholder="Total INF" class="valor"/ value="{{totalValueInf_FirstClass}}"></th>
                <th colspan="1"><input name="flight[numINF_FirstClass]" input type="text" name="total" placeholder="" class="valor"/ value="{{numINF_FirstClass}}"></th>
              </tr>
            </table>
            <br>
            <table class="pageDAuto">
              <tr>
                <th colspan="21"><h4>Executivo</h4></th>
              </tr>
              <tr>
                <th colspan="1"></th>
                <th colspan="4">Tarifa</th>
                <th colspan="1"></th>
                <th colspan="4">Embarque</th>
                <th colspan="1"></th>
                <th colspan="4">Emissão</th>
                <th colspan="1"></th>
                <th colspan="4">Total</th>
                <th colspan="1">Número de passagens</th>
              </tr>
              <tr>
                <th colspan="1"><h5>Adulto</h5></th>
                <th colspan="4"><input name="flight[tariffValueAdult_Executive]" onblur="calcularAdt_Executive()" type="text" name="qty" id="adt{{ageId1}}_Executive" placeholder="Tarifa" class="valor"/ value="{{tariffValueAdult_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueAdult_Executive]" onblur="calcularAdt_Executive()" type="text" name="qty" id="adt{{ageId2}}_Executive" placeholder="Embarque" class="valor"/ value="{{taxValueAdult_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueAdult_Executive]" onblur="calcularAdt_Executive()" type="text" name="qty" id="adt{{ageId3}}_Executive" placeholder="Emissão" class="valor"/ value="{{ravValueAdult_Executive}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueAdult_Executive]" onblur="calcularAdt_Executive()" input type="text" name="total" id="adtResult{{result}}_Executive" placeholder="Total ADT" class="valor"/ value="{{totalValueAdult_Executive}}"></th>
                <th colspan="1"><input name="flight[numADT_Executive]" input type="text" name="total" placeholder="" class="valor"/ value="{{numADT_Executive}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Criança</h5></th>
                <th colspan="4"><input name="flight[tariffValueCHD_Executive]" onblur="calcularChd_Executive()" type="text" name="qty" id="chd{{ageId1}}_Executive" placeholder="Tarifa" class="valor"/ value="{{tariffValueCHD_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueCHD_Executive]" onblur="calcularChd_Executive()" type="text" name="qty" id="chd{{ageId2}}_Executive" placeholder="Embarque" class="valor"/ value="{{taxValueCHD_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueCHD_Executive]" onblur="calcularChd_Executive()" type="text" name="qty" id="chd{{ageId3}}_Executive" placeholder="Emissão" class="valor"/ value="{{ravValueCHD_Executive}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueCHD_Executive]" onblur="calcularChd_Executive()" input type="text" name="total" id="chdResult{{result}}_Executive" placeholder="Total CHD" class="valor"/ value="{{totalValueCHD_Executive}}"></th>
                <th colspan="1"><input name="flight[numCHD_Executive]" input type="text" name="total" placeholder="" class="valor"/ value="{{numCHD_Executive}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Bebê</h5></th>
                <th colspan="4"><input name="flight[tariffValueInf_Executive]" onblur="calcularInf_Executive()" type="text" name="qty" id="inf{{ageId1}}_Executive" placeholder="Tarifa" class="valor"/ value="{{tariffValueInf_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueInf_Executive]" onblur="calcularInf_Executive()" type="text" name="qty" id="inf{{ageId2}}_Executive" placeholder="Embarque" class="valor"/ value="{{taxValueInf_Executive}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueInf_Executive]" onblur="calcularInf_Executive()" type="text" name="qty" id="inf{{ageId3}}_Executive" placeholder="Emissão" class="valor"/ value="{{ravValueInf_Executive}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueInf_Executive]" onblur="calcularInf_Executive()" sinput type="text" name="total" id="infResult{{result}}_Executive" placeholder="Total INF" class="valor"/ value="{{totalValueInf_Executive}}"></th>
                <th colspan="1"><input name="flight[numINF_Executive]" input type="text" name="total" placeholder="" class="valor"/ value="{{numINF_Executive}}"></th>
              </tr>
            </table>
            <br>
            <table class="pageDAuto">
              <tr>
                <th colspan="21"><h4>Econômico</h4></th>
              </tr>
              <tr>
                <th colspan="1"></th>
                <th colspan="4">Tarifa</th>
                <th colspan="1"></th>
                <th colspan="4">Embarque</th>
                <th colspan="1"></th>
                <th colspan="4">Emissão</th>
                <th colspan="1"></th>
                <th colspan="4">Total</th>
                <th colspan="1">Número de passagens</th>
              </tr>
              <tr>
                <th colspan="1"><h5>Adulto</h5></th>
                <th colspan="4"><input name="flight[tariffValueAdult_Economic]" onblur="calcularAdt_Economic()" type="text" name="qty" id="adt{{ageId1}}_Economic" placeholder="Tarifa" class="valor"/ value="{{tariffValueAdult_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueAdult_Economic]" onblur="calcularAdt_Economic()" type="text" name="qty" id="adt{{ageId2}}_Economic" placeholder="Embarque" class="valor"/ value="{{taxValueAdult_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueAdult_Economic]" onblur="calcularAdt_Economic()" type="text" name="qty" id="adt{{ageId3}}_Economic" placeholder="Emissão" class="valor"/ value="{{ravValueAdult_Economic}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueAdult_Economic]" onblur="calcularAdt_Economic()" input type="text" name="total" id="adtResult{{result}}_Economic" placeholder="Total ADT" class="valor"/ value="{{totalValueAdult_Economic}}"></th>
                <th colspan="1"><input name="flight[numADT_Economic]" input type="text" name="total" placeholder="" class="valor"/ value="{{numADT_Economic}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Criança</h5></th>
                <th colspan="4"><input name="flight[tariffValueCHD_Economic]" onblur="calcularChd_Economic()" type="text" name="qty" id="chd{{ageId1}}_Economic" placeholder="Tarifa" class="valor"/ value="{{tariffValueCHD_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueCHD_Economic]" onblur="calcularChd_Economic()" type="text" name="qty" id="chd{{ageId2}}_Economic" placeholder="Embarque" class="valor"/ value="{{taxValueCHD_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueCHD_Economic]" onblur="calcularChd_Economic()" type="text" name="qty" id="chd{{ageId3}}_Economic" placeholder="Emissão" class="valor"/ value="{{ravValueCHD_Economic}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueCHD_Economic]" onblur="calcularChd_Economic()" input type="text" name="total" id="chdResult{{result}}_Economic" placeholder="Total CHD" class="valor"/ value="{{totalValueCHD_Economic}}"></th>
                <th colspan="1"><input name="flight[numCHD_Economic]" input type="text" name="total" placeholder="" class="valor"/ value="{{numCHD_Economic}}"></th>
              </tr>
              <tr>
                <th colspan="1"><h5>Bebê</h5></th>
                <th colspan="4"><input name="flight[tariffValueInf_Economic]" onblur="calcularInf_Economic()" type="text" name="qty" id="inf{{ageId1}}_Economic" placeholder="Tarifa" class="valor"/ value="{{tariffValueInf_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[taxValueInf_Economic]" onblur="calcularInf_Economic()" type="text" name="qty" id="inf{{ageId2}}_Economic" placeholder="Embarque" class="valor"/ value="{{taxValueInf_Economic}}"></th>
                <th colspan="1">+</th>
                <th colspan="4"><input name="flight[ravValueInf_Economic]" onblur="calcularInf_Economic()" type="text" name="qty" id="inf{{ageId3}}_Economic" placeholder="Emissão" class="valor"/ value="{{ravValueInf_Economic}}"></th>
                <th colspan="1">=</th>
                <th colspan="4"><input name="flight[totalValueInf_Economic]" onblur="calcularInf_Economic()" sinput type="text" name="total" id="infResult{{result}}_Economic" placeholder="Total INF" class="valor"/ value="{{totalValueInf_Economic}}"></input></th>
                <th colspan="1"><input name="flight[numINF_Economic]" input type="text" name="total" placeholder="" class="valor"/ value="{{numINF_Economic}}"></th>
              </tr>
            </table>
          </div>
          <select placeholder="Selecione" class="form-control" name=flight[coin] required>
            <option style="display:none">Selecione qual moeda:</option>
            <option>$</option>
            <option>R$</option>
            <option>€</option>
          </select>
        </div>
      </div>
      {{/compare}}

  {{/each}}
  <div class="dinamic_spec">
    <div class="no_padding" id="button_space">
    </div>
    <div class="header">
        <div class="row">
          <div class="col-sm-6">
            <h3> Passageiros </h3>
            <br><br>
            <input class="date start-date" placeholder="Responsável" value="{{client.fullname}}" readonly="readonly">
            <br><br>
            {{#each test0}}
              <li>{{name}} <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1">Voo 1</label>
                </div></li>
            {{/each}}
            <input type="text" id="get1" value="{{infoToReplica.ageId1}}" class="invDiv">
            <input type="text" id="get2" value="{{infoToReplica.ageId2}}" class="invDiv">
            <input type="text" id="get3" value="{{infoToReplica.ageId3}}" class="invDiv">
            <input type="text" id="get4" value="{{infoToReplica.idTable}}" class="invDiv">
            <br><br>
          </div>
          <div class="col-sm-6">
            <button type="button" name="button" id="button_day_original" class="add_buttons"> +Escalas </button>
            <button type="button" name="button" id="add_country" class="add_buttons"> +Voos </button>
            <button type="button" name="button" id="decreasing" class="move add_buttons"> Voo Anterior</button>
            <button type="button" name="button" id="increasing" class="move add_buttons"> Próximo voo </button>
          </div>
        </div>
      </div>
    <br><br><br>
  </div>
  <button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
</form>
<script type="text/javascript" src="/javascripts/replicaPageDRegistred.js">  </script>
<script type="text/javascript" src="/javascripts/operationsPageDRegistred.js">  </script>
