<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/registred/pageG/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
    <h1> Serviços </h1>


    <!-- Bloco de seguros - início-->
    <div class="dinamic_spec">
      <div>
        <h6>Responsável da viagem</h6>
        <input type="text" class="form-control" value="{{client.fullname}}" readonly>
        <br><br>
        <h6>Acompanhantes</h6>
        {{#each test3}}
        <input type="text" class="form-control" value="{{name}}" readonly>
        <br>
        {{/each}}
      </div>


    {{#each allSafes}}
      {{#compare isPrimeiro "1"}}
      <div class="autorow">
        <div class="boxPageG">
          <div class="insurance_selected" id="boxSafe{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Seguro {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[insuranceName]" value="{{insuranceName}}" type="text" placeholder= "Qual seguro será utilizado?" class="form-control">
            </div>
            <div class="form-group">
              <input name="safe[insuranceCoverage]" value="{{insuranceCoverage}}" type="text" placeholder= "Cobertura do seguro" class="form-control">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[insuranceADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceADT}}"></th>
                      <th colspan="1"><input name="safe[SafenumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}mult" onblur="calcSafe()"class="form-control form-control--width autorow" value="{{SafenumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[insuranceCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceCHD}}"></th>
                      <th colspan="1"><input name="safe[SafenumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}mult" onblur="calcSafe()" class="form-control form-control--width autorow" value="{{SafenumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[insuranceINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceINF}}"></th>
                      <th colspan="1"><input name="safe[SafenumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}mult" onblur="calcSafe()" class="form-control form-control--width autorow" value="{{SafenumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total de seguro:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[insuranceCoin]>
                        <option style = "color:red;">{{insuranceCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[insuranceTOT]" type="text" id="total{{repNum}}" onblur="calcSafe()" class="form-control form-control--width" placeholder="Valor" value="{{insuranceTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingSafes] typeSafe{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o seguro {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingSafes] typeSafe{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{else}}
      <div class="autorow">
        <div class="boxPageG">
          <div class="" id="boxSafe{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Seguro {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[insuranceName]" value="{{insuranceName}}" type="text" placeholder= "Qual seguro será utilizado?" class="form-control">
            </div>
            <div class="form-group">
              <input name="safe[insuranceCoverage]" value="{{insuranceCoverage}}" type="text" placeholder= "Cobertura do seguro" class="form-control">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[insuranceADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceADT}}"></th>
                      <th colspan="1"><input name="safe[SafenumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}mult" onblur="calcSafe()"class="form-control form-control--width autorow" value="{{SafenumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[insuranceCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceCHD}}"></th>
                      <th colspan="1"><input name="safe[SafenumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}mult" onblur="calcSafe()" class="form-control form-control--width autorow" value="{{SafenumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[insuranceINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}val" onblur="calcSafe()" class="form-control" value="{{insuranceINF}}"></th>
                      <th colspan="1"><input name="safe[SafenumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}mult" onblur="calcSafe()" class="form-control form-control--width autorow" value="{{SafenumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total de seguro:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[insuranceCoin]>
                        <option style = "color:red;">{{insuranceCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[insuranceTOT]" type="text" id="total{{repNum}}" onblur="calcSafe()" class="form-control form-control--width" placeholder="Valor" value="{{insuranceTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingSafes] typeSafe{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o seguro {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingSafes] typeSafe{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{/compare}}
    {{/each}}
    <div class="rowclass" id="landing-seguro-col1"><!-- Aqui que replica a primeira coluna -->
    </div>
    <button type="button" class="add_buttons" id="prev_seguro">Seguro anterior</button>
    <button type="button" class="add_buttons" id="add_seguros">+Seguros</button>
    <button type="button" class="add_buttons" id="nxt_seguros">Próximo seguro</button>
    </div>
    <!-- Bloco de seguros - fim-->

    <br><br><br>


    <!-- Bloco de tickets - início-->
    <div class="dinamic_spec">


      <div>
        <h6>Responsável da viagem</h6>
        <input type="text" class="form-control" value="{{client.fullname}}" readonly>
        <br><br>
        <h6>Acompanhantes</h6>
        {{#each test3}}
          <input type="text" class="form-control" value="{{name}}" readonly>
          <br>
        {{/each}}
      </div>


    <h1>Tickets</h1>
    {{#each allTickets}}
      {{#compare isPrimeiro "1"}}
      <div class="autorow">

        <div class="boxPageG">
          <div class="ticket_selected" id="boxTicket{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Ticket {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[ticketsName]" type="text" placeholder= "Qual é o ticket a ser comprado?" class="form-control" value="{{ticketsName}}">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[ticketsADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsADT}}"></th>
                      <th colspan="1"><input name="safe[TicketnumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}multTicket" onblur="calcTicket()"class="form-control form-control--width autorow" value="{{TicketnumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[ticketsCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsCHD}}"></th>
                      <th colspan="1"><input name="safe[TicketnumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}multTicket" onblur="calcTicket()" class="form-control form-control--width autorow" value="{{TicketnumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[ticketsINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsINF}}"></th>
                      <th colspan="1"><input name="safe[TicketnumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}multTicket" onblur="calcTicket()" class="form-control form-control--width autorow" value="{{TicketnumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total dos tickets:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[ticketsCoin]>
                        <option style = "color:red;">{{ticketsCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[ticketsTOT]" type="text" id="totalTicket{{repNum}}" onblur="calcTicket()" class="form-control form-control--width" placeholder="Valor" value="{{ticketsTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingTickets] typeTicket{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o ticket {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingTickets] typeTicket{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{else}}
      <div class="autorow">

        <div class="boxPageG">
          <div class="" id="boxTicket{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Ticket {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[ticketsName]" type="text" placeholder= "Qual é o ticket a ser comprado?" class="form-control" value="{{ticketsName}}">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[ticketsADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsADT}}"></th>
                      <th colspan="1"><input name="safe[TicketnumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}multTicket" onblur="calcTicket()"class="form-control form-control--width autorow" value="{{TicketnumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[ticketsCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsCHD}}"></th>
                      <th colspan="1"><input name="safe[TicketnumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}multTicket" onblur="calcTicket()" class="form-control form-control--width autorow" value="{{TicketnumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[ticketsINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}valTicket" onblur="calcTicket()" class="form-control" value="{{ticketsINF}}"></th>
                      <th colspan="1"><input name="safe[TicketnumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}multTicket" onblur="calcTicket()" class="form-control form-control--width autorow" value="{{TicketnumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total dos tickets:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[ticketsCoin] >
                        <option style = "color:red;">{{ticketsCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[ticketsTOT]" type="text" id="totalTicket{{repNum}}" onblur="calcTicket()" class="form-control form-control--width" placeholder="Valor" value="{{ticketsTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingTickets] typeTicket{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o ticket {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingTickets] typeTicket{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{/compare}}
    {{/each}}
    <div class="rowclass" id="landing-ticket"><!-- Aqui que replica a primeira coluna -->
    </div>
    <button type="button" class="add_buttons" id="prev_ticket">Ticket anterior</button>
    <button type="button" class="add_buttons" id="add_tickets">+Tickets</button>
    <button type="button" class="add_buttons" id="nxt_ticket">Próximo Ticket</button>
  </div>
  <!-- Bloco de tickets - fim-->

    <br><br><br>


    <!-- Bloco de outros - início-->
    <div class="dinamic_spec">
      <h1>Outros</h1>


      <div>
        <h6>Responsável da viagem</h6>
        <input type="text" class="form-control" value="{{client.fullname}}" readonly>
        <br><br>
        <h6>Acompanhantes</h6>
        {{#each test3}}
          <input type="text" class="form-control" value="{{name}}" readonly>
          <br>
        {{/each}}
      </div>


    {{#each allOthers}}
      {{#compare isPrimeiro "1"}}
      <div class="autorow">

        <div class="boxPageG">
          <div class="outros_selected" id="boxOther{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Outro {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[otherName]" type="text" placeholder= "Qual outro item deseja adicionar?" class="form-control" value="{{otherName}}">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[otherADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherADT}}"></th>
                      <th colspan="1"><input name="safe[OthernumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}multOther" onblur="calcOther()"class="form-control form-control--width autorow" value="{{OthernumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[otherCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherCHD}}"></th>
                      <th colspan="1"><input name="safe[OthernumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}multOther" onblur="calcOther()" class="form-control form-control--width autorow" value="{{OthernumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[otherINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherINF}}"></th>
                      <th colspan="1"><input name="safe[OthernumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}multOther" onblur="calcOther()" class="form-control form-control--width autorow" value="{{OthernumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[otherCoin]>
                        <option style = "color:red;">{{otherCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[otherTOT]" type="text" id="totalOther{{repNum}}" onblur="calcOther()" class="form-control form-control--width" placeholder="Valor" value="{{otherTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingOthers] typeOther{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o outro {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingOthers] typeOther{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{else}}
      <div class="autorow">

        <div class="boxPageG">
          <div class="" id="boxOther{{repNum}}">
            <div class="autorow rowclass">
              <h1 id="titleG" for="exampleInputPassword1">Outro {{repNum}}:</h1>
            </div>
            <div class="form-group">
              <input name="safe[otherName]" type="text" placeholder= "Qual outro item deseja adicionar?" class="form-control" value="{{otherName}}">
            </div>

            <div class="rowclass autorow">
              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por adulto</th>
                      <th colspan="1">Número de adultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[otherADT]" placeholder="Valor por adulto" type="text" id="adt{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherADT}}"></th>
                      <th colspan="1"><input name="safe[OthernumADT]" placeholder="Número de adultos" type="text" id="adt{{repNum}}multOther" onblur="calcOther()"class="form-control form-control--width autorow" value="{{OthernumADT}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="4">Valor por criança</th>
                      <th colspan="1">Número de crianças</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="4"><input name="safe[otherCHD]" placeholder="Valor por criança" type="text" id="chd{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherCHD}}"></th>
                      <th colspan="1"><input name="safe[OthernumCHD]" placeholder="Número de crianças" type="text" id="chd{{repNum}}multOther" onblur="calcOther()" class="form-control form-control--width autorow" value="{{OthernumCHD}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group">
                <table class="autorow">
                  <thead>
                    <tr>
                      <th colspan="8">Valor por bebê</th>
                      <th colspan="1">Número de bebês</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="8"><input name="safe[otherINF]" placeholder="Valor por bebê" type="text" id="inf{{repNum}}valOther" onblur="calcOther()" class="form-control" value="{{otherINF}}"></th>
                      <th colspan="1"><input name="safe[OthernumINF]" placeholder="Número de bebês" type="text" id="inf{{repNum}}multOther" onblur="calcOther()" class="form-control form-control--width autorow" value="{{OthernumINF}}"></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="rowclass">
              <table class="autorow">
                <thead>
                  <tr>
                    <th><label class="form-control--width autorow">Qual Moeda Utilizada:</label></th>
                    <th><label class="form-control--width autorow" for="exampleInputPassword1">Valor total:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <select placeholder="Selecione" class="form-control form-control--width" name=safe[otherCoin]>
                        <option style = "color:red;">{{otherCoin}}</option>
                        <option>USD</option>
                        <option>R$</option>
                        <option>€</option>
                      </select>
                    </th>
                    <th>
                      <input name="safe[otherTOT]" type="text" id="totalOther{{repNum}}" onblur="calcOther()" class="form-control form-control--width" placeholder="Valor" value="{{otherTOT}}">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br>
        <div class="rowclass">
          <label>Apagar?</label>
          <input type="radio" name="safe[deletingOthers] typeOther{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o outro {{repNum}} ?')">Sim</input>
          <input type="radio" name="safe[deletingOthers] typeOther{{repNum}}" value="0" checked>Não</input>
        </div>
      </div>
      {{/compare}}
    {{/each}}
    <div class="rowclass" id="landing-other"><!-- Aqui que replica a primeira coluna -->
    </div>
    <button type="button" class="add_buttons" id="prev_other">Outro anterior</button>
    <button type="button" class="add_buttons" id="add_others">+Outros</button>
    <button type="button" class="add_buttons" id="nxt_other">Próximo Outro</button>
  </div>
  <!-- Bloco de outros - fim-->

  <br><br>
  <button type="submit" class="btn btn-primary" id="buttonPages">Próximo</button>
</form>
<div class="invDiv">
  <input value="{{safesInfoToFunctions.insurance}}" id="get1">
  <input value="{{safesInfoToFunctions.ticket}}" id="get2">
  <input value="{{safesInfoToFunctions.outros}}" id="get3">
</div>
<script type="text/javascript" src="/javascripts/replicaPageGRegistred.js">  </script>
<script type="text/javascript" src="/javascripts/operationsPageGRegistred.js">  </script>
