<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/registred/pageF/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">

  <!-- Bloco Traslado - início -->
  <div class="dinamic_spec">
    <h1> Traslado/carro </h1>


    <div>
      <h6>Responsável da viagem</h6>
      <input type="text" class="form-control" value="{{client.fullname}}" readonly>
      <br><br>
      <h6>Acompanhantes</h6>
      {{#each test2}}
        <input type="text" class="form-control" value="{{name}}" readonly>
        <br>
      {{/each}}
    </div>


    {{#each allCarsTraslado}}
    <div class="dinamic_spec">
      {{#compare isPrimeiro "1"}}

        <div class="rowclass autorow">
          <div class="boxPageF boxPageF_Selected" id="box{{repNum}}">
            <div>
              <h3> Traslado {{repNum}}</h3><br>
              <table class="rowclass autorow">
              <thead>
              <tr>
                <th colspan="2"><label>De:</label></th>
                <th colspan="2"><label style="margin-left:17%">Para:</label></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2"><input name="car[from]" type="text" placeholder="De" class="date start-date" value="{{from}}"></th>
                  <th><i class="fa fa-car" aria-hidden="true" style="margin-right: 4px; margin-left: 4px"></i></th>
                <th colspan="2"><input name="car[to]" type="text" placeholder="Para" class="date start-date" value="{{to}}"></th>
              </tr>
              </tbody>
            </table>
            <br>
              <table class="rowclass autorow">
              <thead>
              <tr>
                <th colspan="2"><label>Data do traslado:</label></th>
                <th colspan="2"><label style="margin-left:17%">Horário:</label></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2"><input type="date" name = "car[dateFrom]" value="{{dateFrom}}" class="date start-date" id="dateFrom" placeholder="Data do traslado" maxlength='10' ></th>
                <th><i class="fa fa-calendar"></i></th>
                <th colspan="2"><input type="time" placeholder="00:00" name="car[timeFrom]" value="{{timeFrom}}" class="date start-date" style="width:200px"/></th>
              </tr>
              </tbody>
              </table>
              <br><br>
            </div>
            <h3>Informações/ Valores</h3><br>
            <div class="container rowclass classF-input">
              <table class="rowclass autorow">
                <thead>
                  <tr>
                    <th colspan="2"><label>Valor por ADT</label></th>
                    <th colspan="2"><label>Valor por CHD</label></th>
                    <th colspan="2"><label>Valor por INF</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2"><input name="car[valueADT]" onblur="calcTraslado()" id="valueADT{{repNum}}" class="form-control" placeholder="ADT" value="{{valueADT}}"></th>
                    <th colspan="2"><input name="car[valueCHD]" onblur="calcTraslado()" id="valueCHD{{repNum}}" class="form-control" placeholder="CHD" value="{{valueCHD}}"></th>
                    <th colspan="2"><input name="car[valueINF]" onblur="calcTraslado()" id="valueINF{{repNum}}" class="form-control" placeholder="INF" value="{{valueINF}}"></th>
                  </tr>
                  <tr>
                    <th colspan="2"><label style="margin-top: 15px;">Número de ADT's</label></th>
                    <th colspan="2"><label style="margin-top: 15px;">Número de CHD's</label></th>
                    <th colspan="2"><label style="margin-top: 15px;">Número de INF's</label></th>
                  </tr>
                  <tr>
                    <th colspan="2"><input name="car[numADT]" onblur="calcTraslado()" id="numADT{{repNum}}" class="form-control" placeholder="numADT" value="{{numADT}}"></th>
                    <th colspan="2"><input name="car[numCHD]" onblur="calcTraslado()" id="numCHD{{repNum}}" class="form-control" placeholder="numCHD" value="{{numCHD}}"></th>
                    <th colspan="2"><input name="car[numINF]" onblur="calcTraslado()" id="numINF{{repNum}}" class="form-control" placeholder="numINF" value="{{numINF}}"></th>
                  </tr>
                </tbody>
              </table>
              <div class="rowclass autorow">
                <table class="rowclass autorow">
                <thead>
                <tr>
                  <th colspan="2"><label style="margin-top: 15px;">Moeda</label></th>
                  <th colspan="2"><label style="margin-top: 15px;">Total</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th colspan="2" style="width:50%">
                    <select placeholder="Selecione" class="form-control" name="car[coinT]">
                    {{#compare coinT "USD"}}
                      <option selected >USD</option>
                      <option>R$</option>
                      <option>€</option>
                    {{else}}{{#compare coinT "R$"}}
                      <option >USD</option>
                      <option selected>R$</option>
                      <option>€</option>
                    {{else}}{{#compare coinT "€"}}
                      <option >USD</option>
                      <option>R$</option>
                      <option selected>€</option>
                    {{else}}
                      <option>USD</option>
                      <option selected>R$</option>
                      <option>€</option>
                    {{/compare}}{{/compare}}{{/compare}}
                    </select>
                  </th>
                  <th colspan="2"><input name="car[totalTranslado]" onblur="calcTraslado()" id="totalTranslado{{repNum}}" class="form-control" placeholder="Total" value="{{totalTranslado}}"></th>
                </tr>
                </tbody>
              </table>
              <br>
              <div class="rowclass">
                <label>Apagar?</label>
                <input type="radio" name="car[deletingTraslado] typeTraslado{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o traslado {{repNum}} ?')">Sim</input>
                <input type="radio" name="car[deletingTraslado] typeTraslado{{repNum}}" value="0" checked>Não</input>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="rowclass autorow">
          <div class="boxPageF" id="box{{repNum}}">
            <div>
              <h3> Traslado {{repNum}}</h3><br>
              <table class="rowclass autorow">
              <thead>
              <tr>
                <th colspan="2"><label>De:</label></th>
                <th colspan="2"><label style="margin-left:17%">Para:</label></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2"><input name="car[from]" type="text" placeholder="De" class="date start-date" value="{{from}}"></th>
                  <th><i class="fa fa-car" aria-hidden="true" style="margin-right: 4px; margin-left: 4px"></i></th>
                <th colspan="2"><input name="car[to]" type="text" placeholder="Para" class="date start-date" value="{{to}}"></th>
              </tr>
              </tbody>
            </table>
            <br>
              <table class="rowclass autorow">
              <thead>
              <tr>
                <th colspan="2"><label>Data do traslado:</label></th>
                <th colspan="2"><label style="margin-left:17%">Horário:</label></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2"><input type="date" name = "car[dateFrom]" value="{{dateFrom}}" class="date start-date" id="dateFrom" placeholder="Data do traslado" maxlength='10' ></th>
                <th><i class="fa fa-calendar"></i></th>
                <th colspan="2"><input type="time" placeholder="00:00" name="car[timeFrom]" value="{{timeFrom}}" class="date start-date" style="width:200px"/></th>
              </tr>
              </tbody>
              </table>
              <br><br>
            </div>
            <h3>Informações/ Valores</h3><br>
            <div class="container rowclass classF-input">
              <table class="rowclass autorow">
                <thead>
                  <tr>
                    <th colspan="2"><label>Valor por ADT</label></th>
                    <th colspan="2"><label>Valor por CHD</label></th>
                    <th colspan="2"><label>Valor por INF</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2"><input name="car[valueADT]" onblur="calcTraslado()" id="valueADT{{repNum}}" class="form-control" placeholder="ADT" value="{{valueADT}}"></th>
                    <th colspan="2"><input name="car[valueCHD]" onblur="calcTraslado()" id="valueCHD{{repNum}}" class="form-control" placeholder="CHD" value="{{valueCHD}}"></th>
                    <th colspan="2"><input name="car[valueINF]" onblur="calcTraslado()" id="valueINF{{repNum}}" class="form-control" placeholder="INF" value="{{valueINF}}"></th>
                  </tr>
                  <tr>
                    <th colspan="2"><label>Número de ADT's</label></th>
                    <th colspan="2"><label>Número de CHD's</label></th>
                    <th colspan="2"><label>Número de INF's</label></th>
                  </tr>
                  <tr>
                    <th colspan="2"><input name="car[numADT]" onblur="calcTraslado()" id="numADT{{repNum}}" class="form-control" placeholder="numADT" value="{{numADT}}"></th>
                    <th colspan="2"><input name="car[numCHD]" onblur="calcTraslado()" id="numCHD{{repNum}}" class="form-control" placeholder="numCHD" value="{{numCHD}}"></th>
                    <th colspan="2"><input name="car[numINF]" onblur="calcTraslado()" id="numINF{{repNum}}" class="form-control" placeholder="numINF" value="{{numINF}}"></th>
                  </tr>
                </tbody>
              </table>
              <div class="rowclass autorow">
                <table class="rowclass autorow">
                <thead>
                <tr>
                  <th colspan="2"><label>Moeda</label></th>
                  <th colspan="2"><label>Total</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th colspan="2" style="width:50%">
                    <select placeholder="Selecione" class="form-control" name="car[coinT]">
                      {{#compare coinT "USD"}}
                        <option selected >USD</option>
                        <option>R$</option>
                        <option>€</option>
                      {{else}}{{#compare coinT "R$"}}
                        <option >USD</option>
                        <option selected>R$</option>
                        <option>€</option>
                    {{else}}{{#compare coinT "€"}}
                        <option >USD</option>
                        <option>R$</option>
                        <option selected>€</option>
                    {{else}}
                        <option>USD</option>
                        <option selected>R$</option>
                        <option>€</option>
                    {{/compare}}{{/compare}}{{/compare}}
                    </select>
                  </th>
                  <th colspan="2"><input name="car[totalTranslado]" onblur="calcTraslado()" id="totalTranslado{{repNum}}" class="form-control" placeholder="Total" value="{{totalTranslado}}"></th>
                </tr>
                </tbody>
              </table>
              <br>
              <div class="rowclass">
                <label>Apagar?</label>
                <input type="radio" name="car[deletingTraslado] typeTraslado{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o traslado {{repNum}} ?')">Sim</input>
                <input type="radio" name="car[deletingTraslado] typeTraslado{{repNum}}" value="0" checked>Não</input>
              </div>
            </div>
          </div>
       </div>
      {{/compare}}
    </div>
    <br><br>
    {{/each}}
    <div class="rowclass" id="landing_Traslado">
    </div>
    <button type="button" class="add_buttons" id="prev_traslado">Traslado anterior</button>
    <button type="button" class="add_buttons" id="add-traslado">+Traslados</button>
    <button type="button" class="add_buttons" id="nxt_traslado">Próximo Traslado</button>
  </div>
  <!-- Bloco Traslado - fim -->

  <!-- Bloco carros - início -->
  <div class="dinamic_spec">
        {{#each allCars}}
        <div class="autorow rowclass">
          <div class="boxCarsPageF">
            <br><br><h3> Carros {{repNum}} </h3><br>
            <div class="classa">
              <label style="margin-left: -90%">Categoria</label>
              <input class="form-control" placeholder="Categoria" name="car[typeCar]" value="{{typeCar}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -82%">Local de Retirada</label>
              <input class="form-control" placeholder="Local de Retirada" name="car[withdrawal]" value="{{withdrawal}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -80%">Local de Devolução</label>
              <input class="form-control" placeholder="Local de Devolução" name="car[delivery]" value="{{delivery}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -84%">Valor do carro {{repNum}}</label>
              <input class="form-control" placeholder="Valor carro {{repNum}}" name="car[totalCar]" value="{{totalCar}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -92%">Cidade</label>
              <input class="form-control" placeholder="Cidade" name="car[city]" value="{{city}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -85%">Características</label>
              <input class="form-control" placeholder="Características" name="car[shift]" value="{{shift}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -91%">Seguros</label>
              <input class="form-control" placeholder="Seguros" name="car[safe]" value="{{safe}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -92%">Outros</label>
              <input class="form-control" placeholder="Outros" name="car[others]" value="{{others}}">
            </div><br>
            <div class="classa">
              <label style="margin-left: -92%">Moeda</label>
              <select placeholder="Selecione" class="form-control" name="car[coinC]">
                {{#compare coinC "USD"}}
                  <option selected >USD</option>
                  <option>R$</option>
                  <option>€</option>
                {{else}}{{#compare coinC "R$"}}
                  <option >USD</option>
                  <option selected>R$</option>
                  <option>€</option>
                {{else}}{{#compare coinC "€"}}
                  <option >USD</option>
                  <option>R$</option>
                  <option selected>€</option>
                {{else}}
                  <option>USD</option>
                  <option selected>R$</option>
                  <option>€</option>
                {{/compare}}{{/compare}}{{/compare}}
              </select>
            </div><br>
            <div class="rowclass">
              <label>Apagar?</label>
              <input type="radio" name="car[deletingCar] type{{repNum}}" value="1" onclick="return confirm('Deseja mesmo excluir o carro {{repNum}} ?')">Sim</input>
              <input type="radio" name="car[deletingCar] type{{repNum}}" value="0" checked>Não</input>
            </div>
          </div>
        </div>
        <br><br>
        {{/each}}
        <div class="rowclass" id="landing_car">
      </div>
      <button type="button" class="add_buttons" id="add_car">+Carro</button>
    </div>
  <!-- Bloco carros - início -->

  <button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
</form>
<div class="invDiv">
  <input type="text" value="{{carsInfoTofunctions.cars}}" id="get1">
  <input type="text" value="{{carsInfoTofunctions.traslado}}" id="get2">
</div>
<script type="text/javascript" src="/javascripts/replicaPageFRegistred.js">  </script>
<script type="text/javascript" src="/javascripts/operationsPageFRegistred.js">  </script>
<script type="text/javascript" src="/javascripts/formInputs.js">  </script>
