<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/registred/pageE/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
    <div class="dinamic_spec">
      <h1> Hotel </h1>


      <div>
        <h6>Responsável da viagem</h6>
        <input type="text" class="form-control" value="{{client.fullname}}" readonly>
        <br><br>
        <h6>Acompanhantes</h6>
        {{#each test1}}
          <input type="text" class="form-control" value="{{name}}" readonly>
          <br>
        {{/each}}
      </div>


    {{#each allHotels}}
      <br><br>
      {{#compare isPrimeiro "1"}}
        <div class="row">

          <!-- Coluna 1 início -->
          <div class="col-sm-4 rowclass">
            <div class="box_hotel_left box_hotel_left_selected" id="col-left{{numHotels}}">
              <div class="rowclass marginEcolumR">
                <br><br><br><br><br><br><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType1]" value="{{acomodationType1}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 1</label>
                  <input class="form-control" placeholder="Hotel 1" name="hotel[hotel1]" value="{{hotel1}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd1]" value="{{qntd1}}">
                </div><br>
                <div class="classa">
                  <label>Categoria do Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category1]" value="{{category1}}">
                </div><br>
                <div class="classa">
                  <label>Tipo da Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food1]">
                    <option style = "color:red;">{{food1}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto.</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt1]" id="vApto1{{numHotels}}" onblur="calcHotel()" value="{{valueApt1}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily1]" id="nDiarias1{{numHotels}}" onblur="calcHotel()" value="{{numberDaily1}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt1]" id="nAptos1{{numHotels}}" onblur="calcHotel()" value="{{numberApt1}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 1</label>
                  <input class="form-control" placeholder="Total" name="hotel[total1]" id="vTotal1{{numHotels}}" onblur="calcHotel()" value="{{total1}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod]">
                    <option style = "color:red;">{{cancellationPeriod}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Coluna 1 fim -->


          <!-- Coluna 2 início -->
          <div class="col-sm-4 rowclass">
            <div class="box_hotel_midle box_hotel_midle_selected" id="col-middle{{numHotels}}">
              <div class="rowclass">
                <div class="classa">
                  <h1>Cidade {{numHotels}}</h1>
                  <input class="form-control" placeholder="Cidade {{numHotels}}" name="hotel[city]" value="{{city}}">
                </div><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType2]" value="{{acomodationType2}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 2</label>
                  <input class="form-control" placeholder="Hotel 2" name="hotel[hotel2]" value="{{hotel2}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd2]" value="{{qntd2}}">
                </div><br>
                <div class="classa">
                  <label>Categoria de Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category2]" value="{{category2}}">
                </div><br>
                <div class="classa">
                  <label>Tipo de Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food2]">
                    <option style = "color:red;">{{food2}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto:</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt2]" id="vApto2{{numHotels}}" onblur="calcHotel()" value="{{valueApt2}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily2]" id="nDiarias2{{numHotels}}" onblur="calcHotel()" value="{{numberDaily2}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt2]" id="nAptos2{{numHotels}}" onblur="vHoteis2()" onblur="calcHotel()" value="{{numberApt2}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 2</label>
                  <input class="form-control" placeholder="Total" name="hotel[total2]" id="vTotal2{{numHotels}}" onblur="calcHotel()" value="{{total2}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod2]">
                    <option style = "color:red;">{{cancellationPeriod2}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
                <div id="companion_camp" >
                  <label style="margin-top: 20px;">Moeda utilizada:</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[coin]">
        {{#compare coin "USD"}}
            <option selected >USD</option>
            <option>R$</option>
            <option>€</option>
            {{else}}{{#compare coin "R$"}}
            <option >USD</option>
            <option selected>R$</option>
            <option>€</option>
            {{else}}{{#compare coin "€"}}
            <option >USD</option>
            <option>R$</option>
            <option selected>€</option>
            {{else}}
            <option>USD</option>
            <option selected>R$</option>
            <option>€</option>
            {{/compare}}{{/compare}}{{/compare}}
                  </select>
                </div>
                <br><br>
                <div class="rowclass">
                  <label>Apagar?</label>
                  <input type="radio" name="hotel[deleting] type{{numHotels}}" value="1" onclick="return confirm('Deseja mesmo excluir a cidade {{numHotels}} ?')">Sim</input>
                  <input type="radio" name="hotel[deleting] type{{numHotels}}" value="0" checked>Não</input>
                </div>
              </div>
            </div>
          </div>
          <!-- Coluna 2 fim -->


          <!-- Coluna 3 início -->
          <div class="col-sm-4 rowclass">
            <div class="box_hotel_right box_hotel_right_selected" id="col-right{{numHotels}}">
              <div class="rowclass marginEcolumR">
                <br><br><br><br><br><br><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType3]" value="{{acomodationType3}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 3</label>
                  <input class="form-control" placeholder="Hotel 3" name="hotel[hotel3]" value="{{hotel3}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd3]" value="{{qntd3}}">
                </div><br>
                <div class="classa">
                  <label>Categoria de Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category3]" value="{{category3}}">
                </div><br>
                <div class="classa">
                  <label>Tipo  de Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food3]">
                    <option style = "color:red;">{{food3}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto:</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt3]" id="vApto3{{numHotels}}" onblur="calcHotel()" value="{{valueApt3}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily3]" id="nDiarias3{{numHotels}}" onblur="calcHotel()" value="{{numberDaily3}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt3]" id="nAptos3{{numHotels}}" onblur="calcHotel()" value="{{numberApt3}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 3</label>
                  <input class="form-control" placeholder="Total" name="hotel[total3]" id="vTotal3{{numHotels}}" onblur="calcHotel()" value="{{total3}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod3]">
                    <option style = "color:red;">{{cancellationPeriod3}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Coluna 3 fim -->

        </div>
      {{else}}
      <div class="row">

        <!-- Coluna 1 início -->
        <div class="col-sm-4 rowclass">
          <div class="box_hotel_left" id="col-left{{numHotels}}">
            <div class="rowclass" style="margin-top: -117px;">
                <br><br><br><br><br><br><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType1]" value="{{acomodationType1}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 1</label>
                  <input class="form-control" placeholder="Hotel 1" name="hotel[hotel1]" value="{{hotel1}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd1]" value="{{qntd1}}">
                </div><br>
                <div class="classa">
                  <label>Categoria do Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category1]" value="{{category1}}">
                </div><br>
                <div class="classa">
                  <label>Tipo da Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food1]">
                    <option style = "color:red;">{{food1}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto.</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt1]" id="vApto1{{numHotels}}" onblur="calcHotel()" value="{{valueApt1}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily1]" id="nDiarias1{{numHotels}}" onblur="calcHotel()" value="{{numberDaily1}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt1]" id="nAptos1{{numHotels}}" onblur="calcHotel()" value="{{numberApt1}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 1</label>
                  <input class="form-control" placeholder="Total" name="hotel[total1]" id="vTotal1{{numHotels}}" onblur="calcHotel()" value="{{total1}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod]">
                    <option style = "color:red;">{{cancellationPeriod}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
        <!-- Coluna 1 fim -->


        <!-- Coluna 2 início -->
        <div class="col-sm-4 rowclass">
          <div class="box_hotel_midle" id="col-middle{{numHotels}}">
              <div class="rowclass">
                <div class="classa">
                  <h1>Cidade {{numHotels}}</h1>
                  <input class="form-control" placeholder="Cidade {{numHotels}}" name="hotel[city]" value="{{city}}">
                </div><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType2]" value="{{acomodationType2}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 2</label>
                  <input class="form-control" placeholder="Hotel 2" name="hotel[hotel2]" value="{{hotel2}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd2]" value="{{qntd2}}">
                </div><br>
                <div class="classa">
                  <label>Categoria de Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category2]" value="{{category2}}">
                </div><br>
                <div class="classa">
                  <label>Tipo de Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food2]">
                    <option style = "color:red;">{{food2}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto:</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt2]" id="vApto2{{numHotels}}" onblur="calcHotel()" value="{{valueApt2}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily2]" id="nDiarias2{{numHotels}}" onblur="calcHotel()" value="{{numberDaily2}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt2]" id="nAptos2{{numHotels}}" onblur="vHoteis2()" onblur="calcHotel()" value="{{numberApt2}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 2</label>
                  <input class="form-control" placeholder="Total" name="hotel[total2]" id="vTotal2{{numHotels}}" onblur="calcHotel()" value="{{total2}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod2]">
                    <option style = "color:red;">{{cancellationPeriod2}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
                <div id="companion_camp" >
                  <label style="margin-top: 15px;">Moeda utilizada:</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[coin]">
                    <option style = "color:red;">{{coin}}</option>
                    <option>USD</option>
                    <option>R$</option>
                    <option>€</option>
                  </select>
                </div>
                <br><br>
                <div class="rowclass">
                  <label>Apagar?</label>
                  <input type="radio" name="hotel[deleting] type{{numHotels}}" value="1" onclick="return confirm('Deseja mesmo excluir a cidade {{numHotels}} ?')">Sim</input>
                  <input type="radio" name="hotel[deleting] type{{numHotels}}" value="0" checked>Não</input>
                </div>
              </div>
          </div>
        </div>
        <!-- Coluna 2 fim -->


        <!-- Coluna 3 início -->
        <div class="col-sm-4 rowclass">
          <div class="box_hotel_right" id="col-right{{numHotels}}">
             <div class="rowclass" style="margin-top: -117px;">
                <br><br><br><br><br><br><br>
                <div class="classa">
                  <label>Tipo de acomodação</label>
                  <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType3]" value="{{acomodationType3}}">
                </div><br>
                <div class="classa">
                  <label>Hotel 3</label>
                  <input class="form-control" placeholder="Hotel 3" name="hotel[hotel3]" value="{{hotel3}}">
                </div><br>
                <div class="classa">
                  <label>Número de pessoas</label>
                  <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd3]" value="{{qntd3}}">
                </div><br>
                <div class="classa">
                  <label>Categoria de Apartamento</label>
                  <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category3]" value="{{category3}}">
                </div><br>
                <div class="classa">
                  <label>Tipo  de Pensão</label>
                  <select placeholder="Selecione" class="form-control" name="hotel[food3]">
                    <option style = "color:red;">{{food3}}</option>
                    <option>Com Café da Manhã</option>
                    <option>Sem Café da Manhã</option>
                    <option>Pensão Completa</option>
                    <option>Outros</option>
                  </select>
                </div><br>
                <div class="classa">
                  <label>Valor apto:</label>
                  <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt3]" id="vApto3{{numHotels}}" onblur="calcHotel()" value="{{valueApt3}}">
                </div><br>
                <div class="classa">
                  <label>Número de diárias</label>
                  <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily3]" id="nDiarias3{{numHotels}}" onblur="calcHotel()" value="{{numberDaily3}}">
                </div><br>
                <div class="classa">
                  <label>Número de apartamentos</label>
                  <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt3]" id="nAptos3{{numHotels}}" onblur="calcHotel()" value="{{numberApt3}}">
                </div><br>
                <div class="classa">
                  <label>Total Hotel 3</label>
                  <input class="form-control" placeholder="Total" name="hotel[total3]" id="vTotal3{{numHotels}}" onblur="calcHotel()" value="{{total3}}">
                </div><br>
                <div class="classa">
                  <label>Prazo de Cancelamento</label>
                  <select class="form-control" name="hotel[cancellationPeriod3]">
                    <option style = "color:red;">{{cancellationPeriod3}}</option>
                    <option>Sem prazo</option>
                    <option>Com prazo</option>
                    <option>Outro</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
        <!-- Coluna 3 fim -->

      </div>
      {{/compare}}
    {{/each}}
    <div class="row rowclass">
      <div class="col-sm-4" id="landing-hotel-col1">
      </div>
      <div class="col-sm-4" id="landing-hotel-col2">
      </div>
      <div class="col-sm-4" id="landing-hotel-col3">
      </div>
    </div>
    <button type="button" class="add_buttons" id="prev_hotel">Hotel/cidade anterior</button>
    <button type="button" class="add_buttons" id="add-hotel">+Hoteis/Cidades</button>
    <button type="button" class="add_buttons" id="nxt_hotel">Próximo hotel/cidade</button>
  </div>
    <button type="submit" class="btn btn-primary" id="buttonPages" style="margin-top: 10px">Próximo</button>
  </form>

  <input class="invDiv" value="{{hotelsInfoToFunctions.hotels}}" id="get1">
  <script type="text/javascript" src="/javascripts/replicaPageERegistred.js">  </script>
  <script type="text/javascript" src="/javascripts/operationsPageERegistred.js">  </script>
