<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Script de busca -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="pagesFront">

  <!-- <form  action="/homeAdmin" method="get">
    <div class="btn-minus">
    <button type="button" class="btn btn-light col-md-2 " onclick="location.href='/Dashboard'"> Voltar</button>
    </div>
  </form> -->

  <div class="dinamic_spec">
    <div class="formInputs">
      <div>
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/Dashboard'"><i class="fa fa-arrow-left"></i>
        <h1 class="title_registed"> Cadastrado </h1>
      </div>
      <input placeholder="Busca" class="form-control" id="search" name="search">
    </div>



    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class = "th-name">Nome</th>
            <th class = "th-type">CPF</th>
            <th class = "th-type">Alterar dados</th>
            <th class = "th-type">Alterar características</th>
            <th class = "th-type">Visualizar files</th>
            <th class = "th-type">Novo files</th>
          </tr>
        </thead>
        <tbody id="client_table">
          {{#each clientes}}
          <tr>
            <th>{{fullname}}</th>
            <th>{{register}}</th>
            <th><button onClick="location.href='pageA/{{_id}}'" class="fa fa-id-card-o btn m-1 icones"></button></th>
            <th><button onClick="location.href='pageB/{{_id}}'" class="fa fa-edit btn m-1 icones"></button></th>
            <th><button onClick="location.href='/registred/PagePersonal/{{_id}}'" class="fa fa-info btn m-1 icones"></button></th>
            <th><button onClick="location.href='/new/pageC/{{_id}}'" class="icone btn m-1 icones"><i class="material-icons">create_new_folder</i></button></th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>


<script>
  $(document).ready(function(){
    $("#search").keyup(function(){
      search_table($(this).val());
    });
  });

  function search_table(value){
    $('#client_table tr').each(function(){
      var found = 'false';
      $(this).each(function(){
        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
          found = 'true';
        }
      });
      if(found == 'true'){
        $(this).show();
      }
      else{
        $(this).hide();
      }
    });
  }
</script>
<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
