<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/registred/pageC/{{budget.client}}/{{budget._id}}" method="post" class="pagesFront">
  <div class="dinamic_spec">
      <h1>File</h1>
    <div class="form-group">
      <input type="text" name="budget[codFile]" placeholder="Código File" class="form-control" required="required" value="{{budget.codFile}}">
    </div>

    {{#each allScripts}}
      <div class="dinamic_spec_pagec">
        <h1>Roteiro:</h1>
        <div id="testedacamila" class="rowclass">
          <div class="container rowclass">
            <div class="row rowclass marginPageC">
              <div class="col-sm-auto ">
                Dia 1
              </div>
              <div class="col-sm-auto">
                <input type="date" placeholder="Data" name="budget[planDate]" class= "date start-date form-control classCinput" value="{{planDate}}">
              </div>
              <div class="col-sm-auto">
                <input placeholder="País" name="budget[planCountry]" class= "form-control classCinput2" value="{{planCountry}}">
              </div>
              <div class="col-sm-auto">
                <input placeholder="Cidade" name="budget[planCity]"class= "form-control classCinput2" value="{{planCity}}">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="budget[planFreeField]" placeholder="Campo Livre" rows="3" >{{planFreeField}}</textarea>
            </div>
          </div>
        </div>
        <button type="button" class="add_buttons" id="add_dias"> + Dias</button><br><br>
      </div>
    {{/each}}

    <button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
  </div>
</form>

<script type="text/javascript" src="/javascripts/replica.js">  </script>
